m-tooltip {
  display: inline-block;
  cursor: pointer;

  .m-tooltip--anchored {
    position: relative;
  }

  img {
    height: 24px;
  }
}

.m-tooltip--bubble {
  @include z-index(tooltip);
  position: absolute;
  font-size: 13px;
  padding: 12px;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1.4px;
  max-width: 220px;
  line-height: 18px;
  white-space: normal;
  text-align: left;
  text-transform: none;
  @include m-theme() {
    color: themed($m-textColor--primary);
    background-color: themed($m-bgColor--secondary);
    border: 1px solid themed($m-borderColor--tertiary);
    box-shadow: 0 2px 4px 0 rgba(themed($m-black), 0.2);
  }

  &.m-tooltip--bubble--anchor-bottom {
    bottom: 24px;
  }

  &.m-tooltip--bubble--fixed {
    position: fixed;
  }

  &.m-tooltip--bubble--anchor-left {
    left: 0;
    right: auto;
    width: 220px;
  }

  &.m-tooltip--bubble--anchor-right {
    left: auto;
    right: 0;
    width: 220px;
  }
}
