@import 'defaults.scss';

m-overlay-modal {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: overlay;
  overflow: scroll;
  @include z-index(modal);

  .m-overlay-modal--backdrop {
    @include m-theme() {
      background-color: rgba(themed($m-black-always), 0.8);
    }
  }
}

.m-overlay-modal--wrapper {
  // new stacking context
  position: relative;
  z-index: 0;
}

.m-overlay-modal {
  z-index: 2;

  &:not(.m-overlayModal--media) {
    position: fixed;
    right: 2vw;
    left: 2vw;
    margin: auto;

    top: 50%;
    max-height: 98vh;

    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 990px;
    padding: ($minds-padding * 4);

    outline: 0;
    border-radius: 6px;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    font-family: 'Roboto', sans-serif;

    @include m-theme() {
      color: themed($m-grey-700);
      background: none rgba(themed($m-white), 0.95);
    }

    &.m-overlayModal--media {
      position: static;
      min-height: 100%;
      display: table;
      height: 100% !important;
      table-layout: fixed;
      width: 100%;

      .m-overlay-modal--close {
        line-height: normal;
        opacity: 0.6;
        position: fixed;
        right: 8px;
        top: 8px;
        transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
        padding: 4px;
        @include m-theme() {
          background-color: rgba(themed($m-white-always), 0);
          color: themed($m-grey-300);
        }
        i.material-icons {
          font-size: 28px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    &.m-overlayModal--remind {
      width: 520px;
      max-width: 90%;
      min-width: 0;
      padding: 0;
      border-radius: 0;

      @include m-theme() {
        color: themed($m-blue-grey-700) !important;
        box-shadow: 0 2px 2px 0 rgba(themed($m-black), 0.07),
          0 3px 1px -2px rgba(themed($m-black), 0.1),
          0 1px 5px 0 rgba(themed($m-black), 0.07);
      }

      .m-overlay-modal--close {
        position: absolute;
        right: 16px;
        top: 16px;
        padding: 0;
        background-color: transparent;

        i.material-icons {
          font-size: 24px;
          @include m-theme() {
            color: themed($m-blue-grey-300) !important;
          }

          &:hover {
            @include m-theme() {
              color: themed($m-blue-grey-500) !important;
            }
          }
        }
      }
    }

    &.m-overlay-modal--large {
      max-width: 990px;
    }

    &.m-overlay-modal--medium-large {
      max-width: 800px;
    }

    &.m-overlay-modal--medium {
      max-width: 600px;
    }

    &.m-overlay-modal--small {
      max-width: 480px;
      padding: 16px;
      @include m-theme() {
        background-color: themed($m-white);
      }
    }

    &.m-overlay-modal--no-padding {
      padding: 0px;

      .post {
        margin: 0px;
      }
    }

    &:not(.m-overlay-modal--top):not(.m-overlayModal--media) {
      transform: translateY(-50%);
    }

    &.m-overlay-modal--top {
      top: 150px;
    }

    @media screen and (max-width: $max-mobile) {
      padding: ($minds-padding * 2) ($minds-padding * 4);
    }

    @media screen and (max-height: 850px) {
      max-height: 96vh;
    }

    @media screen and (max-height: 750px) {
      max-height: 98vh;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.m-overlay-modal--overflow {
  overflow: visible;
}

.m-overlay-modal--close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;

  display: inline-block;
  padding: 10px;
  border-radius: 4px;

  cursor: pointer;

  @include m-theme() {
    background-color: rgba(themed($m-black), 0.05);
    color: themed($m-grey-400);
  }

  &:hover {
    @include m-theme() {
      background-color: rgba(themed($m-black), 0.1);
    }
  }

  &:active {
    @include m-theme() {
      color: themed($m-grey-200);
    }
  }

  @media screen and (max-width: $max-mobile) {
    right: $minds-padding;
  }

  > i.material-icons {
    font-size: 32px;
  }
}

.m-overlay-modal--shown,
.m-overlay-modal--shown--no-scroll {
  overflow: hidden;
}

.m-overlay-modal--backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  @include m-theme() {
    background-color: rgba(themed($m-black-always), 0.5);
  }
}

.m-overlay-modal.m-overlayModal--media {
  .m-overlay-modal--close {
    .m-overlay-modal--escHint {
      font-weight: 400;
      display: block;
      opacity: 0;
    }
  }
}
