@import 'defaults.scss';

:host {
  .m-sidebarWidget__body {
    min-height: 50px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .m-discoveryTrends__trend {
    display: flex;
    align-items: center;

    @include m-theme() {
      border-bottom: 0;
    }
    a {
      flex-grow: 1;
      display: inline-block;
      padding: 10px 0;
      .m-discoveryTrendListItem__supportingText--below {
        margin-top: 0;
      }
    }
  }
}
