@import 'defaults';

.m-sidebarMarkers__container {
  top: 52px;
  right: 0;
  position: fixed;
  z-index: 1;
  width: 48px;
  height: calc(100% - 52px);

  @include m-theme() {
    background-color: themed($m-bgColor--secondary);
  }

  @media screen and(max-width: $min-desktop) {
    left: 0;
    height: 48px;
    width: 100%;
    overflow-y: hidden;
    @include m-theme() {
      border-bottom: 1px solid themed($m-grey-50);
    }
  }

  .has-v2-navbar & {
    //top: 62px;
  }
}

.has-markers-sidebar {
  margin-right: 48px;

  @media screen and(max-width: $min-desktop) {
    margin-top: calc(52px + 48px) !important;
    margin-right: 0;
  }
}
