m-categories--selector {
  // new stacking context
  position: relative;
  z-index: 0;

  font-family: Roboto, Helvetica, Arial, sans-serif;
  display: block;

  input {
    max-width: 190px;
    padding: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    border-radius: 4px;
    margin: 0;
    @include m-theme() {
      background-color: rgba(themed($m-black), 0.15);
    }
  }

  .m-categories--selector--suggestions-list {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow-y: visible;
    overflow-x: auto;
    @include m-theme() {
      background-color: themed($m-white);
    }

    .mdl-menu__item {
      opacity: 1;
    }
  }
}
