m-activity__ownerBlock {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: $activity-padding-lr;
  padding-right: $activity-padding-lr / 2;
  box-sizing: border-box;

  &.m-activity__ownerBlock--minimalMode {
    padding-left: $activity-padding-lr--minimalMode;
    padding-right: $activity-padding-lr--minimalMode / 2;
    .m-activityOwnerBlock__avatar {
      img {
        height: 35px;
        width: 35px;
        @include m-theme() {
          border: none;
        }
      }
      .m-activityOwnerBlock__remindIcon--minimalMode {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        height: 17px;
        width: 17px;
        @include m-theme() {
          background-color: themed($m-bgColor--quinary);
        }
        i {
          font-weight: 700;
          font-size: 11px;
          @include m-theme() {
            color: themed($m-link);
          }
        }
      }
    }
    .m-activityOwnerBlock__displayName,
    .m-activityOwnerBlock__groupName {
      margin-left: 6px;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
    strong {
      font-size: 16px;
      font-weight: 400;
    }
    .m-activityOwnerBlock__permalink,
    .m-activityOwnerBlock__right {
      display: none;
    }
  }
}

.m-activityOwnerBlock__avatar {
  align-self: center;
  padding-right: $minds-padding;
  position: relative;
  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.m-activityOwnerBlock__body {
  flex: 1;
  align-self: center;
  overflow: hidden;

  > a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.m-activityOwnerBlock__right {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.m-activityOwnerBlock__displayName {
  display: flex;
  font-size: 16px;

  @include m-theme() {
    color: themed($m-textColor--primary);
  }

  > * {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:hover {
    .m-activityOwnerBlock__remindIcon {
      text-decoration: none;
    }
  }
}

.m-activityOwnerBlock__groupName {
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.m-activityOwnerBlock__remindIcon {
  font-size: 18px;
  margin-right: $minds-margin / 2;
  vertical-align: middle;
  @include m-theme() {
    color: themed($m-link);
  }
}

.m-activityOwnerBlock__permalink {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;

  @include m-theme() {
    color: themed($m-textColor--tertiary);
  }

  .material-icons {
    //padding-right: 4px;
    //font-size: 20px;
    font-size: initial;
    vertical-align: text-top;
  }
}
