// Display additional button and header when displayed as a modal
.m-overlay-modal--referrals-links .m-settingsV2__referralsLinks {
  .m-settingsV2__referralsLinks__modalShow {
    display: block;

    &.m-settingsV2__referralsLinks__modalButton {
      margin-top: 20px;
    }
  }
  .m-settingsV2__referralsLinks__copyableLinks
    .m-settingsV2__referralsLinks__modalHide {
    display: none;
  }
}

.m-settingsV2__referralsLinks {
  .m-settingsV2__desc {
    font-size: 16px !important;
    margin-bottom: 35px !important;
    @include m-theme() {
      color: themed($m-textColor--secondary) !important;
    }
  }
  .m-settingsV2ReferralsLinks__bankConnect {
    display: flex;
    flex-flow: row nowrap;
    @include m-theme() {
      color: themed($m-textColor--primary) !important;
    }
    i {
      font-size: 18px;
      margin-right: 8px;
    }

    a {
      display: inline-block;
      margin: 0 3px;

      text-decoration: underline !important;
      @include m-theme() {
        color: themed($m-textColor--primary) !important;
      }
    }
  }

  .m-settingsV2__referralsLinks__modalShow {
    display: none;
  }

  @include m-theme() {
    color: themed($m-textColor--primary);
  }

  h4 {
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin: 16px 0 0 0;
  }

  .m-settingsV2__referralsLinks__copyableLinks {
    > * {
      font-size: 16px;
      line-height: 20px;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }

    > p {
      margin: 0 0 10px 0 !important;
    }

    .m-settingsV2__referralsLinks__copyableLink {
      max-width: 450px;
      margin-bottom: 30px;
      border-radius: 2px;
      display: flex;
      justify-content: space-between;
      @include m-theme() {
        background-color: themed($m-bgColor--secondary);
        border: 1px solid themed($m-borderColor--primary);
      }

      &.focused {
        @include m-theme() {
          border-color: themed($m-blue);
        }
      }

      .m-settingsV2__referralsLinks__copyableLinkText {
        width: 95%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left !important;
        font-size: 16px;
        border: none;
        padding: 12px 0 12px 12px;
        margin: 1px 0 1px 4px;

        @include m-theme() {
          background-color: transparent;
          color: rgba(themed($m-black), 0.87);
        }

        &::selection {
          background-color: #b3d4fc;
        }

        &:focus {
          outline: none;
        }
      }

      .m-settingsV2__referralsLinks__copyableLinkButton {
        cursor: pointer;
        padding: 12px;

        i {
          font-size: 20px;
          transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);

          @include m-theme() {
            color: themed($m-textColor--primary);
          }
          &:hover {
            transform: scale(1.05);
            @include m-theme() {
              color: themed($m-textColor--secondary);
            }
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }

  .m-settingsV2__referralsLinks__share {
    margin-top: 30px;

    p {
      font-size: 16px;
      line-height: 20px;
    }
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }

    .m-settingsV2__referralsLinks__shareButtons {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: -8px;

      button {
        cursor: pointer;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        border: none;
        margin: 0 20px 12px 0;
        position: relative;
        padding-top: 1px;

        &:hover {
          @include m-theme() {
            box-shadow: inset 0 0 16px 16px rgba(themed($m-black-always), 0.2);
          }
        }

        &:active {
          @include m-theme() {
            box-shadow: inset 0 0 16px 16px rgba(themed($m-black-always), 0.05);
          }
        }

        &:focus {
          outline: none;
        }

        img {
          position: absolute;
          top: calc(50% - 9px);
          left: calc(50% - 9px);
        }
      }
    }

    .m-settingsV2__referralsLinks__shareButton--twitter {
      @include m-theme() {
        background-color: themed($m-twitter);
      }
    }

    .m-settingsV2__referralsLinks__shareButton--messenger {
      @include m-theme() {
        background-color: themed($m-messenger);
      }
    }

    .m-settingsV2__referralsLinks__shareButton--facebook {
      @include m-theme() {
        background-color: themed($m-facebook);
      }
    }

    .m-settingsV2__referralsLinks__shareButton--whatsapp {
      @include m-theme() {
        background-color: themed($m-whatsapp);
      }
    }

    .m-settingsV2__referralsLinks__shareButton--sms,
    .m-settingsV2__referralsLinks__shareButton--email {
      @include m-theme() {
        background-color: themed($m-blue-grey-500);
      }
    }
  }
}
