<div class="m-settingsV2__referralsLinks">
  <div class="m-settingsV2__desc">
    You will receive 5% of monthly earnings your referrals earn through tips and
    memberships
  </div>
  <ng-container *ngIf="init">
    <div
      class="m-settingsV2__desc m-settingsV2ReferralsLinks__bankConnect"
      *ngIf="!hasBank"
    >
      <i class="material-icons">warning</i>
      <span
        >Please
        <a target="_blank" href="/wallet/canary/cash/settings"
          >connect your bank account</a
        >
        in order to receive any earnings.</span
      >
    </div>
    <div class="m-settingsV2__referralsLinks__copyableLinks">
      <h3
        class="m-settingsV2__referralsLinks__modalShow"
        i18n="@@M_REFERRALS__LINKS_MODAL_HEADER"
      >
        Earn tokens for referring your friends
      </h3>
      <p
        class="m-settingsV2__referralsLinks__modalHide"
        i18n="@@M_REFERRALS__LINKS_REGISTER_URL_DESC"
      >
        Send this link to your friends to earn tokens for referrals
      </p>

      <div
        class="m-settingsV2__referralsLinks__copyableLink"
        [class.focused]="registerUrlFocused"
        (click)="applyFocus(registerUrlEl, 'registerUrl')"
      >
        <input
          class="m-settingsV2__referralsLinks__copyableLinkText m-copyableLink"
          [class.recentlyCopied]="registerUrlRecentlyCopied"
          readonly
          tabindex="-1"
          (focus)="(registerUrlFocused)"
          (focusout)="registerUrlFocused = false"
          value="{{ registerUrl }}"
          #registerUrlEl
        />
        <div
          (click)="copyToClipboard(registerUrlEl, 'registerUrl')"
          class="m-settingsV2__referralsLinks__copyableLinkButton"
        >
          <i class="material-icons">content_copy</i>
        </div>
      </div>

      <p i18n="@@M_REFERRALS__LINKS_REFERRER_PARAM_DESC">
        You can also get referrals by adding this code to the end of any Minds
        link you share
      </p>
      <div
        class="m-settingsV2__referralsLinks__copyableLink"
        [class.focused]="referrerParamFocused"
        (click)="applyFocus(referrerParamEl, 'referrerParam')"
      >
        <input
          class="m-settingsV2__referralsLinks__copyableLinkText m-copyableLink"
          [class.recentlyCopied]="referrerParamRecentlyCopied"
          readonly
          tabindex="-1"
          (focus)="(referrerParamFocused)"
          (focusout)="referrerParamFocused = false"
          value="{{ referrerParam }}"
          #referrerParamEl
        />
        <div
          (click)="copyToClipboard(referrerParamEl, 'referrerParam')"
          class="m-settingsV2__referralsLinks__copyableLinkButton"
        >
          <i class="material-icons">content_copy</i>
        </div>
      </div>
    </div>

    <div class="m-settingsV2__referralsLinks__share">
      <p i18n="@@M_REFERRALS__SHARE_HEADER">More ways to share</p>
      <div class="m-settingsV2__referralsLinks__shareButtons">
        <button
          i18n-title="@@M_REFERRALS__SHARE_BUTTON_TWITTER"
          title="Twitter"
          class="m-settingsV2__referralsLinks__shareButton m-settingsV2__referralsLinks__shareButton--twitter"
          (click)="openTwitter()"
        >
          <img [src]="cdnAssetsUrl + 'assets/icons/twitter.svg'" />
        </button>

        <button
          i18n-title="@@M_REFERRALS__SHARE_BUTTON_FACEBOOK"
          title="Facebook"
          class="m-settingsV2__referralsLinks__shareButton m-settingsV2__referralsLinks__shareButton--facebook"
          (click)="openFacebook()"
        >
          <img [src]="cdnAssetsUrl + 'assets/icons/facebook.svg'" />
        </button>

        <button
          i18n-title="@@M_REFERRALS__SHARE_BUTTON_MESSENGER"
          title="Messenger"
          class="m-settingsV2__referralsLinks__shareButton m-settingsV2__referralsLinks__shareButton--messenger"
          *ngIf="isMobileOrTablet()"
          (click)="openMessenger()"
        >
          <img [src]="cdnAssetsUrl + 'assets/icons/messenger.svg'" />
        </button>

        <button
          i18n-title="@@M_REFERRALS__SHARE_BUTTON_Whatsapp"
          title="Whatsapp"
          class="m-settingsV2__referralsLinks__shareButton m-settingsV2__referralsLinks__shareButton--whatsapp"
          *ngIf="isMobileOrTablet()"
          (click)="openWhatsapp()"
        >
          <img [src]="cdnAssetsUrl + 'assets/icons/whatsapp.svg'" />
        </button>

        <button
          i18n-title="@@M_REFERRALS__SHARE_BUTTON_SMS"
          title="SMS"
          class="m-settingsV2__referralsLinks__shareButton m-settingsV2__referralsLinks__shareButton--sms"
          *ngIf="isMobile()"
          (click)="openSMS()"
        >
          <img [src]="cdnAssetsUrl + 'assets/icons/sms.svg'" />
        </button>

        <button
          i18n-title="@@M_REFERRALS__SHARE_BUTTON_EMAIL"
          title="Email"
          class="m-settingsV2__referralsLinks__shareButton m-settingsV2__referralsLinks__shareButton--email"
          (click)="openEmail()"
        >
          <img [src]="cdnAssetsUrl + 'assets/icons/email.svg'" />
        </button>
      </div>
    </div>
    <div
      class="m-settingsV2__referralsLinks__modalShow m-settingsV2__referralsLinks__modalButton"
    >
      <a [routerLink]="['/settings/other/referrals']" (click)="closeModal()">
        <button class="m-btn m-btn--slim m-btn--action">
          <span i18n-title="@@M_REFERRALS__LINKS_CONSOLE_BUTTON"
            >Go to Referrals Console</span
          >
        </button>
      </a>
    </div>
  </ng-container>
</div>
