<div class="m-upgrades__upgradeOptions">
  <div class="m-upgradesUpgradeOptions__header">
    <h2>Upgrade Options</h2>

    <div class="m-upgradesUpgradeOptionsHeader__toggleContainer">
      <div class="m-upgradesUpgradeOptionsHeader__toggle">
        <span i18n="@@COMMON__YEARLY">Yearly</span>
        <span
          ><m-toggle
            [(mModel)]="interval"
            leftValue="yearly"
            rightValue="monthly"
          ></m-toggle
        ></span>
        <span i18n="@@COMMON__MONTHLY">Monthly</span>
      </div>
      <div class="m-upgradesUpgradeOptionsHeader__toggle">
        <span i18n="currency|@@COMMON__USD">USD</span>
        <span
          ><m-toggle
            [(mModel)]="currency"
            leftValue="usd"
            rightValue="tokens"
          ></m-toggle
        ></span>
        <span i18n="currency|@@COMMON__TOKENS">Tokens</span>
      </div>
    </div>
  </div>

  <div class="m-upgradesUpgradeOptions__plans">
    <div
      class="m-upgradesUpgradeOptionsPlan__row m-upgradesUpgradeOptionsPlan__row--first"
    >
      <h3 i18n="@@UPGRADE_OPTIONS__PLUS">Minds+</h3>

      <p
        class="m-upgradesUpgradeOptionsPlan__targetAudience"
        i18n="@@UPGRADE_OPTIONS__IDEAL_MINDS_USERS"
      >
        Ideal for all Minds Users
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <p
        class="m-upgradesUpgradeOptionsPlan__description"
        i18n="@@UPGRADE_OPTIONS__UPGRADE_CHANNEL_INFO"
      >
        Unlock the first community-powered streaming service and earn revenue.
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <ul>
        <li i18n="@@UPGRADE_OPTIONS__ACCESS_EXCLUSIVE_CONTENT">
          Access exclusive Minds+ content
        </li>
        <li i18n="@@UPGRADE_OPTIONS__SUBMIT_EXCLUSIVE_CONTENT">
          Submit content to Minds+ and earn
        </li>

        <li i18n="@@UPGRADE_OPTIONS__UNLOCK_BONUS_FEATURES">
          Unlock bonus features
        </li>

        <li i18n="@@UPGRADE_OPTIONS__PRIORITY_SUPPORT">
          Priority support
        </li>
      </ul>
    </div>

    <div
      class="m-upgradesUpgradeOptionsPlan__row m-upgradesUpgradeOptionsPlan__row--last"
    >
      <p>
        <a
          class="m-upgradesUpgradeOptionsPlan__moreInfo"
          routerLink="/plus"
          i18n="@@UPGRADE_OPTIONS__MORE_INFO"
        >
          More info
        </a>
      </p>
      <p
        class="m-upgradesUpgradeOptionsPlan__pricing"
        i18n="@@UPGRADE_OPTIONS__PER_MONTH"
      >
        <span>{{ plusPricing.amount }}</span> per month
      </p>

      <p
        class="m-upgradesUpgradeOptionsPlan__offer"
        *ngIf="plusPricing.offerFrom"
        i18n="@@UPGRADE_OPTIONS__PER_MONTH"
      >
        <span>{{ plusPricing.offerFrom }}</span> per month
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <a
        class="mf-button m-upgradesUpgradeOptionsPlan__action"
        routerLink="/plus"
        [queryParams]="intervalCurrencyQueryParams"
        *ngIf="!session.getLoggedInUser()?.plus"
        data-cy="m-upgradeOptions__upgrade-to-plus-button"
        i18n="@@COMMON__UPGRADE_TO_PLUS"
      >
        Upgrade to Minds+
      </a>
    </div>

    <div
      class="m-upgradesUpgradeOptionsPlan__row m-upgradesUpgradeOptionsPlan__row--first"
    >
      <h3 i18n="@@COMMON__PRO">Pro</h3>

      <p
        class="m-upgradesUpgradeOptionsPlan__targetAudience"
        i18n="@@UPGRADE_OPTIONS__FOR_INDEPENDANT_CREATORS"
      >
        For independent content creators
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <p
        class="m-upgradesUpgradeOptionsPlan__description"
        i18n="@@UPGRADE_OPTIONS__ULTIMATE_PLATFORM"
      >
        The ultimate platform for independent creators and brands.
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <ul>
        <li i18n="@@UPGRADE_OPTIONS__GET_PAID_WORK">
          Get paid for your work
        </li>

        <li i18n="@@UPGRADE_OPTIONS__BUILD_OWN_CUSTOM_SITE">
          Build your own custom website
        </li>

        <li i18n="@@UPGRADE_OPTIONS__PROFESSIONAL_MEDIA_TOOLS">
          Professional media tools
        </li>

        <li i18n="@@UPGRADE_OPTIONS__CUSTOM_SUPPORT">
          Custom support
        </li>
      </ul>
    </div>

    <div
      class="m-upgradesUpgradeOptionsPlan__row m-upgradesUpgradeOptionsPlan__row--last"
    >
      <p>
        <a
          class="m-upgradesUpgradeOptionsPlan__moreInfo"
          routerLink="/pro"
          i18n="@@COMMON__MORE_INFO"
        >
          More info
        </a>
        <a
          class="m-upgradesUpgradeOptionsPlan__moreInfo"
          [routerLink]="[
            '/pro/' + session.getLoggedInUser().username + '/settings'
          ]"
          i18n="@@COMMON__TRY_PRO"
          *ngIf="session.getLoggedInUser()"
          style="padding-left: 16px"
        >
          Try Pro
        </a>
      </p>
      <p
        class="m-upgradesUpgradeOptionsPlan__pricing"
        i18n="@@COMMON__PER_MONTH"
      >
        <span>{{ proPricing.amount }}</span> per month
      </p>

      <p
        class="m-upgradesUpgradeOptionsPlan__offer"
        *ngIf="proPricing.offerFrom"
        i18n="@@COMMON__PER_MONTH"
      >
        <span>{{ proPricing.offerFrom }}</span> per month
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <ng-container *mIfFeature="'purchase-pro'; else comingSoon">
        <a
          class="mf-button m-upgradesUpgradeOptionsPlan__action"
          routerLink="/pro"
          [queryParams]="intervalCurrencyQueryParams"
          *ngIf="!session.getLoggedInUser()?.pro"
          data-cy="m-upgradeOptions__upgrade-to-pro-button"
          i18n="@@COMMON__UPGRADE_TO_PRO"
        >
          Upgrade to Pro
        </a>
      </ng-container>
      <ng-template #comingSoon>
        <a
          class="mf-button m-upgradesUpgradeOptionsPlan__action"
          routerLink="/pro"
          data-cy="m-upgradeOptions__upgrade-to-pro-button"
          i18n="@@COMMON__COMING_SOON"
        >
          Coming soon
        </a>
      </ng-template>
    </div>

    <div
      class="m-upgradesUpgradeOptionsPlan__row m-upgradesUpgradeOptionsPlan__row--first"
    >
      <h3 i18n="@@UPGRADE_OPTIONS__NODE">Node</h3>

      <p
        class="m-upgradesUpgradeOptionsPlan__targetAudience"
        i18n="@@UPGRADE_OPTIONS__NEXT_LEVEL_CREATORS"
      >
        For next-level content creators
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <p
        class="m-upgradesUpgradeOptionsPlan__description"
        i18n="@@UPGRADE_OPTIONS__LAUNCH_OWN_NETWORK"
      >
        Launch your own white-labeled social network and mobile app.
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <ul>
        <li i18n="@@UPGRADE_OPTIONS__WHITE_LABEL_MOBILE">
          White-labeled mobile app
        </li>

        <li i18n="@@UPGRADE_OPTIONS__CUSTOM_DOMAIN_BRAND">
          Use a custom domain and branding
        </li>

        <li i18n="@@UPGRADE_OPTIONS__INDEPENDANT_FROM_MINDS">
          Independent from Minds
        </li>

        <li i18n="@@UPGRADE_OPTIONS__PRIORITY_SUPPORT">
          Priority support
        </li>
      </ul>
    </div>

    <div
      class="m-upgradesUpgradeOptionsPlan__row m-upgradesUpgradeOptionsPlan__row--last"
    >
      <p>
        <a
          class="m-upgradesUpgradeOptionsPlan__moreInfo"
          routerLink="/nodes"
          i18n="@@UPGRADE_OPTIONS__MORE_INFO"
        >
          More info
        </a>
      </p>
      <p
        class="m-upgradesUpgradeOptionsPlan__pricing"
        i18n="@@UPGRADE_OPTIONS__CONTACT_US_PRICING"
      >
        Contact us for pricing
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <a
        class="mf-button m-upgradesUpgradeOptionsPlan__action"
        routerLink="/nodes"
        data-cy="m-upgradeOptions__contact-us-nodes-button"
        i18n="@@COMMON__CONTACT_US"
      >
        Contact us
      </a>
    </div>
  </div>
</div>
