<m-marketing
  class="m-upgrades"
  pageTitle="Upgrade your Minds experience"
  i18n-pageTitle="@@UPGRADES__UPGRADE_MINDS_EXPERIENCE"
>
  <div class="m-marketing__main m-marketing__section--style-1">
    <div class="m-grid m-marketing__wrapper">
      <div class="m-grid__column-6 m-grid__column-12--mobile m-marketing__body">
        <h2
          class="m-marketing__subtitle--asTitle"
          i18n="@@UPGRADES__UPGRADE_MINDS_EXPERIENCE"
        >
          Upgrade your Minds experience
        </h2>

        <p
          class="m-marketing__description"
          i18n="@@UPGRADES__UNLOCK_POWERFUL_FEATURES"
        >
          Your support helps keep Minds and its creator community free and
          independent.
        </p>

        <ul class="m-marketing__points">
          <li i18n="@@UPGRADES__JOIN_PLUS_STREAMING_SERVICE">
            Join Minds+, the first ever community-powered streaming service
          </li>

          <li i18n="@@UPGRADES__LAUNCH_PRO_BUILD_WEBSITE">
            Join Minds Pro and upgrade your channel to a custom website
          </li>

          <li i18n="@@UPGRADES__BUY_MINDS_TOKENS_BOOST_CONTENT">
            Buy Minds Tokens to boost content for more views
          </li>
        </ul>

        <div
          class="mf-button m-upgradesUpgradeOptionsPlan__action m-upgrades__upgradeNowBtn"
          (click)="upgradeNow(); $event.preventDefault()"
          data-cy="m-upgrades__upgrade-now-button"
          i18n="@@COMMON__UPGRADE_NOW"
        >
          Upgrade Now
        </div>
      </div>

      <div
        class="m-grid__column-6 m-grid__column-12--mobile m-marketing__image"
      >
        <span>
          <img
            class="m-marketing__image--1"
            [src]="cdnAssetsUrl + 'assets/marketing/upgrades-1.jpg'"
          />

          <img
            class="m-marketing__image--2"
            [src]="cdnAssetsUrl + 'assets/marketing/upgrades-2.jpg'"
          />

          <img
            class="m-marketing__image--3"
            [src]="cdnAssetsUrl + 'assets/marketing/upgrades-3.jpg'"
          />
        </span>
      </div>
    </div>
  </div>

  <m-marketing__asFeaturedIn
    slot="2"
    class="m-marketing__asFeaturedIn--noMargin"
  ></m-marketing__asFeaturedIn>

  <div class="m-marketing__extras">
    <div class="mf-jumpAnchor" #upgradeOptionsAnchor></div>
    <m-upgrades__upgradeOptions></m-upgrades__upgradeOptions>
  </div>

  <div class="m-marketing__extras">
    <m-upgrades__buyTokens></m-upgrades__buyTokens>
  </div>
</m-marketing>
