@import 'defaults.scss';

:host {
  @media screen and (max-width: $max-mobile) {
    .m-blog--title {
      font-size: 32px;
    }
    .medium-insert-embeds {
      max-width: 100%;
      margin: 0;
    }
    .m-blog--footer {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .m-blog--footer {
    margin-bottom: 50px;
  }

  .m-share-buttons {
    cursor: pointer;
    padding-right: 8px;
    @include m-theme() {
      color: themed($m-green-light);
    }
  }

  .m-code-highlight {
    overflow-x: auto;
    font-size: 20px;
  }

  ::ng-deep {
    m-wire--lock-screen.m-wire--lock-screen-2020 {
      position: relative;
      z-index: 0;
    }
    .m-blog__body {
      padding: 0 $minds-padding;

      a {
        @include m-theme() {
          color: themed($m-grey-950);
        }
      }
      img {
        max-width: 100%;
        height: auto;
      }

      ul {
        list-style: disc;
      }

      ol {
        list-style: decimal;
      }

      br,
      p,
      ul,
      ol {
        font-size: 16px;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        line-height: 30px;

        @include m-theme() {
          color: rgba(themed($m-black), 0.84);
        }
      }

      p {
        margin-bottom: 0.5em;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        line-height: 1.58;
        letter-spacing: 0.5px;
        letter-spacing: -0.003em;
        font-family: 'Roboto', Helvetica, sans-serif;
        margin-top: 29px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        @include m-theme() {
          color: rgba(themed($m-black), 0.84);
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        font-weight: 600;
      }

      figcaption {
        word-break: break-word;
        padding: 0.6em;
        max-width: 100%;
        text-align: center;

        @include m-theme() {
          background-color: themed($m-white);
          color: themed($m-black);

          &:focus {
            background-color: themed($m-bgColor--tertiary);
          }
        }
      }

      ul,
      ol {
        margin: 18px 0;

        li {
          margin-bottom: 0.5em;
          font-size: 21px;
        }
      }

      figure.table {
        margin: 40px 0;
        overflow-x: auto;
        max-width: 100%;

        table {
          align-items: center;
          border-spacing: 0;
          margin: auto;
          text-rendering: optimizelegibility;

          tbody {
            max-width: 100%;
          }

          td,
          th {
            min-width: 100px; /* Stop shrinking and trigger scrollbar */
            padding: 8px 16px;
            text-align: left;

            @include m-theme() {
              border: 1px solid themed($m-borderColor--primary);
            }
          }

          th {
            font-weight: 900;

            @include m-theme() {
              color: themed($m-black);
            }
          }
          td {
            @include m-theme() {
              color: themed($m-black);
            }
          }
        }
      }

      /*blockquote {
          padding: $minds-padding 0 $minds-padding 0.5em;
          @include m-theme(){
             border-left: 2px solid themed($m-grey-600);
          }
      
          &:before, &:after {
            position: initial;
            content: initial;
          }
      
          p, ul, ol {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }*/
    }
  }
}
