m-date-selector {
  // new stacking context
  position: relative;
  z-index: 0;

  display: block;
}
.m-dateSelector__label {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  align-self: center;
  font-size: 12px;
  @include m-theme() {
    color: themed($m-grey-600);
  }
}

.m-dateSelector__input {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 0;

  @media screen and (max-width: $min-tablet) {
    margin: 8px 0;
  }

  @include m-theme() {
    color: themed($m-grey-600);
    background-color: themed($m-white);
  }
}

.cdk-overlay-container {
  // z-index note: leaving this high value here b/c external plugin
  z-index: 10000 !important;
  .owl-dt-container {
    @include m-theme() {
      background: themed($m-white);

      * {
        color: themed($m-grey-600);
      }

      .owl-dt-calendar-cell-selected {
        background-color: themed($m-blue);
        color: themed($m-white);
      }
    }
  }
}

.m-dateSelector__input--hidden {
  visibility: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
}
