.m-mindsList__tools {
  @include m-theme() {
    background-color: themed($m-bgColor--secondary);
  }
  display: flex;
  position: relative;
  padding: 8px;
  margin-bottom: 16px;
  flex-direction: row;
  align-items: center;
  z-index: 3; // So nearby post menu trigger stays beneath dropdown

  .m-mindsListTools__scheduled {
    cursor: pointer;

    i {
      vertical-align: middle;
      font-size: 18px;
      margin-right: 4px;
    }

    span {
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 1.25px;
      text-rendering: optimizeLegibility;
    }
  }

  .m-channel--sorted__SortSelector {
    margin-left: auto;
  }
}

.m-theme__2020 m-channel--sorted {
  display: block;
  padding: 0 40px;

  @media screen and (max-width: $layoutMin2ColWidth) {
    padding: 0;
  }

  m-activity {
    margin-bottom: 20px;
  }
}
