m-countryInput {
  // new stacking context
  position: relative;
  z-index: 0;

  display: inline-flex;
  margin-bottom: $minds-padding;
  flex-grow: 1;
  @media (max-width: $max-mobile) {
    width: 100%;
    input {
      width: 100%;
    }
  }

  span {
    font-weight: 300;
  }

  .m-countryInput__wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;
    @include m-theme() {
      background-color: themed($m-white);
      border: 1px solid themed($m-borderColor--primary);
    }
    * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    &.dropdownShown {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.focused {
      @include m-theme() {
        border-color: themed($m-blue);
      }
      .m-countryInput__input {
        @include m-theme() {
          border-color: themed($m-blue);
        }
      }
    }
    &.invalid {
      @include m-theme() {
        border-color: themed($m-alert);
      }
      input {
        @include m-theme() {
          border-color: themed($m-alert);
        }
      }
    }
  }

  .m-countryInput__selectedCountry {
    z-index: 1;
    position: relative;
    height: 36px;
    padding: 0 0 0 8px;
    border: 0;
    border-right: 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: 0;
    @include m-theme() {
      background-color: themed($m-white);
    }

    .m-countryInput__selectedCountryName {
      margin-left: 5px;
      @include m-theme() {
        color: themed($m-grey-300);
      }
    }
    .m-countryInput__arrow {
      margin: 0 5px;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      @include m-theme() {
        border-top: 6px solid themed($m-grey-100);
      }
    }
    .m-countryInput__arrow.up {
      border-top: none;
      @include m-theme() {
        border-bottom: 6px solid themed($m-grey-100);
        border-top: none;
      }
    }
  }

  .m-countryInput__input {
    flex: 1 1 auto;
    height: 100%;
    padding: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    @include m-theme() {
      background-color: themed($m-white);
      border-left: 1px solid themed($m-grey-50);
    }
    &:focus {
      outline: none;
    }
  }

  m-countryInput__country {
    flex: 0 1 auto;
  }
  .m-countryInput__countryList {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    top: 40px;
    left: 0;
    width: 100%;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    @include m-theme() {
      box-shadow: 0 1px 4px 0 rgba(themed($m-black), 0.1);
      background-color: themed($m-white);
      border: 1px solid themed($m-blue);
      border-top: none;
    }

    &.dropdown {
      flex-direction: column !important;
    }

    @media (max-width: 500px) {
      white-space: normal;
    }

    .m-countryInput__country {
      cursor: pointer;
      padding: 8;
      overflow: hidden;
      text-overflow: ellipsis;
      outline: none;
      transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
      .m-countryInput__dialCode {
        @include m-theme() {
          color: themed($m-grey-300);
        }
      }
      &:focus,
      &.focused {
        @include m-theme() {
          background-color: rgba(themed($m-grey-50), 0.4);
        }
      }
      &:active {
        @include m-theme() {
          background-color: rgba(themed($m-grey-50), 0.7);
        }
      }
    }
  }
  .m-countryInput__dropup {
    bottom: 100%;
    margin-bottom: -1px;
  }
  .m-countryInput__flagBox {
    display: inline-block;
    width: 20px;
  }
  .m-countryInput__divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    margin-top: 0;
    @include m-theme() {
      border-bottom: 1px solid themed($m-grey-100);
    }
  }
  &.country:not(:last-child) {
    @include m-theme() {
      border-bottom: 1px solid themed($m-grey-50);
    }
  }

  .m-countryInput__countryList .m-countryInput__flagBox,
  .m-countryInput__countryList .m-countryInput__countryName,
  .m-countryInput__countryList .m-countryInput__dialCode {
    vertical-align: middle;
  }
  .m-countryInput__countryList .m-countryInput__flagBox,
  .m-countryInput__countryList .m-countryInput__countryName {
    margin-right: 6px;
  }
}

// minds-country-input {
//   display: inline-block;
//   max-width: 100%;
//   position: relative;

//   &::before {
//     content: '\25bc';
//     position: absolute;
//     pointer-events: none;
//     top: 0;
//     bottom: 1px;
//     padding-top: 0.7em;
//     line-height: 1;
//     right: 0;
//     width: 2em;
//     text-align: center;
//     transform: scale(0.84, 0.42);
//     filter: progid:DXImageTransform.Microsoft.Matrix(M11=.84, M12=0, M21=0, M22=.42, SizingMethod='auto expand');
//     @include m-theme() {
//       color: themed($m-grey-500);
//     }
//   }

//   select {
//     padding: 8px 40px 8px 8px;
//     max-width: 100%;
//     appearance: none;
//     display: block;
//     width: 100%;
//     font-family: 'Roboto', Helvetica, sans-serif;
//     @include m-theme() {
//       border: 1px solid themed($m-grey-100);
//     }
//   }
// }
