m-composer__coverPhotoSelector {
  // new stacking context
  position: relative;
  z-index: 0;

  display: contents;
}

.m-composer__coverPhotoSelector {
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
}

.m-composerCoverPhotoSelector__button {
  appearance: none;
  border-radius: 2px;
  padding: 3px 4px 3px 10px;
  line-height: 20px;
  cursor: pointer;

  @include m-theme() {
    border: 0;
    // border: 1px solid themed($m-borderColor--primary);
    background-color: themed($m-bgColor--secondary);
    color: themed($m-textColor--secondary);
  }

  &.m-composerCoverPhotoSelector__button--expanded {
    border-radius: 2px 2px 0 0;
  }

  > span {
    font-size: 15px;
    margin-right: 5px;
  }

  > span,
  > i {
    vertical-align: middle;
    line-height: 20px;
  }
}

.m-composerCoverPhotoSelector__container {
  border-radius: 0 0 2px 2px;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  box-sizing: border-box;
  @include m-theme() {
    //border: 1px solid themed($m-borderColor--primary);
    background-color: themed($m-bgColor--secondary);
  }

  label {
    font-size: 15px;
    line-height: 20px;
  }
}

.m-composerCoverPhotoSelector__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.m-composerCoverPhotoSelectorList__item {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 2px;
  overflow: hidden;

  @include m-theme() {
    border: 1px solid themed($m-borderColor--primary);
  }

  &.m-composerCoverPhotoSelectorList__item--selected {
    @include m-theme() {
      border-color: themed($m-blue);
    }
  }
}

.m-composerCoverPhotoSelector__preview {
  text-align: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  padding: 0;
  position: relative;
  @include m-theme() {
    color: themed($m-textColor--secondary);
  }
  cursor: pointer;

  &.m-composerCoverPhotoSelector__preview--icon {
    padding: 30px 0;
    //height: 20px;
  }

  img {
    object-fit: cover;
  }

  .m-composerCoverPhotoSelector__delete {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff; // TODO: should these use global theme?
    text-shadow: 0 1px 2px #888;
    z-index: 1;
  }
}
