@import 'defaults.scss';

:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  .m-wire__lockScreen {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    cursor: pointer;
    @include m-theme() {
      color: themed($m-white-always);
    }

    > * {
      z-index: 1;
    }

    &.m-wire__lockScreen--minimalMode {
      .m-wireLockScreen__message {
        display: none;
      }
    }

    &.isTextOnly {
      align-items: center;

      @include m-theme() {
        color: themed($m-textColor--secondary);
        border-bottom: 1px solid themed($m-borderColor--tertiary);
        background-color: themed($m-white);
      }
      &:not(.m-wire__lockScreen--minimalMode) {
        @include m-theme() {
          border-top: 1px solid themed($m-borderColor--tertiary);
        }
      }

      .m-wireLockScreen__message {
        @include m-theme() {
          text-shadow: 0 0 0 rgba(themed($m-black-always), 0);
        }
      }
    }
    // &.isMedia {
    //   .m-wireLockScreen__message {
    //     position: absolute;
    //     transform: translateY(-50%);
    //   }
    // }
  }

  .m-wireLockScreen__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    @include m-theme() {
      background-color: rgba(themed($m-black-always), 0.4);
    }
  }

  .m-wireLockScreen__inner {
    width: 100%;
    text-align: center;
  }

  .isVideo .m-wireLockScreen__inner {
    padding-top: 80px;

    @media screen and (max-width: $max-mobile) {
      padding-top: 60px;
    }
  }

  .m-wireLockScreen__message {
    margin: 20px auto;
    min-height: 20px;
    text-align: center;
    max-width: 60%;
    font-weight: 400;
    font-size: inherit;
    line-height: 20px;
    z-index: 2;
    @include m-theme() {
      text-shadow: 0 0 2px rgba(themed($m-black-always), 0.6);
    }
  }
}
