<div class="m-user-menu m-dropdown">
  <minds-avatar
    [object]="getCurrentUser()"
    [editMode]="false"
    (click)="toggleMenu()"
    *ngIf="useAvatar; else iconAnchor"
  ></minds-avatar>
  <ng-template #iconAnchor>
    <a class="m-user-menu__Anchor" (click)="toggleMenu()">
      <i class="material-icons">menu</i>
    </a>
  </ng-template>

  <ul
    class="m-dropdown__list m-userMenu__dropdown mdl-shadow--3dp"
    [hidden]="!(service.isOpen$ | async)"
  >
    <li
      class="m-dropdownList__item m-userMenuDropdown__item m-userMenuDropdown__username"
      *ngIf="getCurrentUser()"
      (click)="closeMenu()"
    >
      <a [routerLink]="['/', getCurrentUser().username]">
        @{{ getCurrentUser().username }}
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item m-userMenuDropdownItem__upgrade"
      *ngIf="getCurrentUser() && !getCurrentUser().pro"
      (click)="closeMenu()"
    >
      <a routerLink="/upgrades" i18n="@@COMMON__UPGRADE">
        Upgrade
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item m-userMenuDropdownItem__buyTokens"
      *ngIf="getCurrentUser()"
      (click)="closeMenu()"
    >
      <a routerLink="/token" i18n="verb|@@COMMON__BUY_TOKENS">
        Buy tokens
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item m-userMenuDropdown__spacer"
    ></li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      *ngIf="!getCurrentUser()"
      (click)="closeMenu()"
    >
      <a routerLink="/login">
        <span i18n="@@COMMON__LOGIN">Login</span>
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      *ngIf="isAdmin()"
      (click)="closeMenu()"
    >
      <a routerLink="/admin/interactions">
        <span i18n="@@COMMON__ADMIN">Admin</span>
      </a>
    </li>

    <ng-container>
      <li
        class="m-dropdownList__item m-userMenuDropdown__item"
        *ngIf="getCurrentUser()"
        (click)="toggleTheme()"
      >
        <span i18n="@@COMMON__LIGHT_MODE" *ngIf="isDark">Enter Light Mode</span>
        <span i18n="@@COMMON__DARK_MODE" *ngIf="!isDark">Enter Dark Mode</span>
      </li>
    </ng-container>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      (click)="closeMenu()"
    >
      <a routerLink="/boost/console">
        <span i18n="@@COMMON__BOOST_CONSOLE">Boost Console</span>
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      (click)="closeMenu()"
    >
      <a routerLink="/settings">
        <span i18n="@@COMMON__SETTINGS">Settings</span>
      </a>
    </li>

    <ng-container *mIfFeature="'helpdesk'; else supportPages">
      <li
        class="m-dropdownList__item m-userMenuDropdown__item"
        (click)="closeMenu()"
      >
        <a routerLink="/help">
          <span i18n="@@COMMON__HELP">Help</span>
        </a>
      </li>
    </ng-container>
    <ng-template #supportPages>
      <li
        class="m-dropdownList__item m-userMenuDropdown__item"
        (click)="closeMenu()"
      >
        <a routerLink="/faq">
          <span i18n="@@COMMON__FAQ">FAQ</span>
        </a>
      </li>

      <li
        class="m-dropdownList__item m-userMenuDropdown__item"
        (click)="closeMenu()"
      >
        <a routerLink="/groups/profile/100000000000000681">
          <span i18n="@@COMMON__HELP_AND_SUPPORT">Help &amp; Support</span>
        </a>
      </li>
    </ng-template>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      *ngIf="getCurrentUser()"
      (click)="closeMenu()"
    >
      <a routerLink="/logout">
        <span i18n="@@COMMON__LOGOUT">Logout</span>
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item m-userMenuDropdown__spacer"
    ></li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item m-userMenuDropdown__footer"
      *ngIf="showFooterLinks"
    >
      <ng-container
        *ngFor="let link of footerLinks.slice(0, maxFooterLinks); let i = index"
      >
        <a
          *ngIf="link.routerLink"
          [routerLink]="link.routerLink"
          (click)="closeMenu()"
        >
          {{ link.label }}
        </a>
        <a
          *ngIf="link.href"
          [href]="link.href"
          target="_blank"
          (click)="closeMenu()"
        >
          {{ link.label }}
        </a>
        <span> · </span>
      </ng-container>
      <a (click)="toggleFooterLinks()">
        <ng-container
          *ngIf="maxFooterLinks === 5; else lessView"
          i18n="@@COMMON__MORE"
          >More</ng-container
        >
        <ng-template #lessView>
          <ng-container i18n="@@COMMON__LESS">Less</ng-container>
        </ng-template>
      </a>
    </li>
  </ul>
</div>

<div
  class="minds-bg-overlay"
  (click)="closeMenu()"
  [hidden]="!(service.isOpen$ | async)"
></div>
