@import 'defaults';

m-cookies-notice {
  @include z-index(toast);
  box-sizing: border-box;
  position: fixed;
  bottom: $minds-margin * 2;
  left: $minds-padding * 2;
  width: 360px;
  max-height: 75vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $minds-padding * 2 $minds-padding * 2;
  border-radius: 3px;
  @include m-theme() {
    color: themed($m-grey-700);
    background-color: themed($m-white);
    border: 1px solid themed($m-grey-100);
  }

  @media screen and (max-width: $max-mobile) {
    width: 100vw;
    border-radius: 0;
    left: 0;
    bottom: 0;
  }

  .m-notice--message {
    a {
      @include m-theme() {
        color: themed($m-blue-light);
      }
    }
  }

  .m-btn.m-btn--slim {
    white-space: nowrap;
    margin-left: 8px;
    @include m-theme() {
      background-color: themed($m-white) !important;
      border: 1px solid themed($m-grey-100);
    }
  }
}
