<m-composer
  *ngIf="isMember()"
  (onPost)="prepend($event)"
  [containerGuid]="group.guid"
  #composer
></m-composer>

<div class="minds-list">
  <div>
    <div class="m-mindsList__tools m-border">
      <div
        *ngIf="isMember()"
        class="m-mindsListTools__scheduled"
        (click)="toggleScheduled()"
        [class.selected]="viewScheduled"
      >
        <m-tooltip icon="date_range"> See Scheduled Activities </m-tooltip>
        <span>scheduled: {{ scheduledCount }}</span>
      </div>
      <m-sort-selector
        class="m-group--sorted__SortSelector"
        [allowedAlgorithms]="false"
        [allowedPeriods]="false"
        [allowedCustomTypes]="['activities', 'images', 'videos']"
        [customType]="type"
        (onChange)="setFilter($event.customType)"
      ></m-sort-selector>
    </div>
    <ng-container
      *ngIf="
        isActivityFeed() &&
        (group['is:owner'] || group['is:moderator']) &&
        group['adminqueue:count']
      "
    >
      <a
        class="mdl-shadow--4dp mdl-color--blue-grey-50 mdl-color-text--blue-grey-500 m-newsfeed-message"
        routerLink="review"
      >
        <i class="material-icons">rate_review</i>
        {{ group['adminqueue:count'] }} new
        {{ group['adminqueue:count'] === 1 ? 'post' : 'posts' }} in review queue
      </a>
    </ng-container>

    <ng-container *ngFor="let entity$ of feed$ | async; let i = index">
      <m-activity
        *ngIf="entity$ | async as entity"
        [entity]="patchEntity(entity)"
        [displayOptions]="{
          showOnlyCommentsInput: true
        }"
        [slot]="i + 1"
        [canDelete]="group['is:owner'] || group['is:moderator']"
        (deleted)="delete($event)"
      ></m-activity>
    </ng-container>

    <infinite-scroll
      distance="25%"
      (load)="loadMore()"
      [moreData]="feedsService.hasMore | async"
      [inProgress]="feedsService.inProgress | async"
    ></infinite-scroll>
  </div>
</div>

<m-groups__kick-modal
  *ngIf="kicking"
  [user]="kicking"
  [group]="group"
  (closed)="kick()"
></m-groups__kick-modal>
