m-settingsV2__referralsDashboard {
  .m-settingsV2__referralsDashboard {
    .m-settingsV2__referralsDashboard__flexTable {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }

    .m-settingsV2__referralsDashboard__supportingText {
      padding: 20px;
      padding-bottom: 0;

      h3 {
        margin-bottom: 0;
      }
    }

    .m-settingsV2__referralsDashboard__flexTable {
      width: 100%;
    }

    m-tooltip {
      margin-left: 3px;
      position: relative;
      i:not(.m-settingsV2__referralsDashboard__pingIcon) {
        font-size: 12px;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
      .m-tooltip--bubble {
        bottom: auto;
        @media screen and (max-width: $max-mobile) {
          top: -56px;
          right: 30px;
        }
      }
    }

    .m-settingsV2__referralsDashboard__row {
      display: flex;
      justify-content: space-between;

      &.m-settingsV2__referralsDashboard__headerRow {
        align-items: center;
        font-size: 12px;
        line-height: 18px;
        span {
          @include m-theme() {
            color: themed($m-textColor--secondary) !important;
          }
        }
        > * {
          overflow: visible;
        }
        .m-settingsV2__referralsDashboard__rewardsCol {
          .m-tooltip {
            position: absolute;
            bottom: -6px;
          }
          .m-tooltip--bubble {
            right: 12px;
            min-width: 200px;
          }
        }
      }
      &.m-settingsV2__referralsDashboard__dataRow {
        font-size: 13px;
        @include m-theme() {
          border-top: 1px solid themed($m-borderColor--primary);
        }
      }

      @media screen and (max-width: $max-mobile) {
        position: relative;
      }
    }

    .m-settingsV2__referralsDashboard__cell {
      display: flex;
      padding: 8px 8px 8px 0;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      height: 32px;
    }

    .m-settingsV2__referralsDashboard__userCol {
      min-width: 130px;
      flex: 6 2 0;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }

      .m-settingsV2__referralsDashboard__userNameWrapper,
      .m-settingsV2__referralsDashboard__userNameWrapper * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }

      .m-settingsV2__referralsDashboard__userAvatar {
        border-radius: 50%;
        margin-right: 8px;
        width: 24px;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;

        span {
          letter-spacing: 0.25px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .m-settingsV2__referralsDashboard__statusCol {
      min-width: 60px;
      flex: 3 5 0;
    }
    .m-settingsV2__referralsDashboard__registerCol {
      min-width: 50px;
      flex: 3 4 0;
    }
    .m-settingsV2__referralsDashboard__rewardsCol {
      min-width: 80px;
      flex: 4 2 0;
      padding-right: 20px;
      overflow: visible;
      white-space: normal;

      .m-settingsV2__referralsDashboard__pingButtonContainer {
        display: flex;

        m-tooltip {
          margin-left: 0;
          .m-tooltip--bubble {
            margin-left: 0;
          }
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          @include m-theme() {
            border-color: themed($m-blue);
            color: themed($m-blue);
          }

          span {
            padding-left: 0;
          }
          &:focus {
            outline: 0;
          }
          &:active {
            @include m-theme() {
              border-color: themed($m-blue-light);
              color: themed($m-blue-light);
            }
          }
          &.m-settingsV2__referralsDashboard__pingButton--disabled {
            cursor: default;
            @include m-theme() {
              border-color: rgba(themed($m-textColor--tertiary), 0.7);
              color: rgba(themed($m-textColor--tertiary), 0.7);
            }
          }

          .m-settingsV2__referralsDashboard__pingIcon {
            font-size: 18px;
          }
        }
      }
    }

    .m-settingsV2__referralsDashboard__footer {
      margin-top: 10px;
      padding-bottom: 20px;

      &.m-settingsV2__referralsDashboard__notice {
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
      .m-settingsV2__referralsDashboard__cell {
        width: 100%;
      }
    }

    .m-settingsV2__referralsDashboard__rewardsPendingIcon {
      display: none;
      margin-left: 12px;
      > i {
        @include m-theme() {
          color: themed($m-textColor--tertiary);
        }
      }
    }

    @media screen and (max-width: 910px) {
      .m-settingsV2__referralsDashboard__row.m-settingsV2__referralsDashboard__headerRow {
        span {
          white-space: normal !important;
          max-width: 35px;
        }
        .m-settingsV2__referralsDashboard__registerCol,
        .m-settingsV2__referralsDashboard__rewardsCol {
          align-items: flex-start !important;
        }
        .m-settingsV2__referralsDashboard__rewardsCol {
          .m-tooltip {
            bottom: -12px;
          }
          span {
            max-width: 46px;
          }
        }
      }
      .m-settingsV2__referralsDashboard__cell.m-settingsV2__referralsDashboard__rewardsCol {
        flex: 2 3 0;

        .m-settingsV2__referralsDashboard__pingButtonContainer button {
          padding: 8px;

          span {
            display: none;
          }
        }
      }
    }
    @media screen and (max-width: 800px) {
      .m-settingsV2__referralsDashboard__cell.m-settingsV2__referralsDashboard__registerCol {
        display: none;
      }
      .m-settingsV2__referralsDashboard__userCol {
        min-width: 100px;
      }
      .m-settingsV2__referralsDashboard__statusCol {
        min-width: 60px;
      }
      .m-settingsV2__referralsDashboard__rewardsCol {
        max-width: 75px;
      }
    }
  }

  .m-settingsV2__referralsDashboard__pingIcon--wiggle {
    animation: wiggle 0.2s infinite;
  }

  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
