<div class="m-composer__titleBar">
  <div class="m-composerTitleBar__title">
    <label [for]="inputId" i18n="@@COMPOSER__COMPOSE">Compose</label>
  </div>

  <div
    *ngIf="!(isEditing$ | async) && !(attachment$ | async)"
    class="m-composerTitleBar__createBlogTrigger"
    [hidden]="isPosting$ | async"
    (click)="onCreateBlogClick()"
  >
    <ng-container i18n="@@COMPOSER__CREATE_BLOG">Create Blog</ng-container>
  </div>

  <m-composerTitleBar__dropdown></m-composerTitleBar__dropdown>
</div>
