<ng-container *ngIf="!inProgress; else inProgressSpinner">
  <div>
    <div class="m-proSubscriptionPlan__toggleContainer">
      <div class="m-proSubscriptionPlan__toggle">
        <span i18n="@@PRO_SUBSCRIPTION__YEARLY">Yearly</span>
        <span
          ><m-toggle
            [mModel]="interval"
            (mModelChange)="setInterval($event)"
            leftValue="yearly"
            rightValue="monthly"
          ></m-toggle
        ></span>
        <span i18n="@@PRO_SUBSCRIPTION__MONTHLY">Monthly</span>
      </div>

      <div class="m-proSubscriptionPlan__toggle">
        <span i18n="@@PRO_SUBSCRIPTION__USD">USD</span>
        <span
          ><m-toggle
            [mModel]="currency"
            (mModelChange)="setCurrency($event)"
            leftValue="usd"
            rightValue="tokens"
          ></m-toggle
        ></span>
        <span i18n="@@PRO_SUBSCRIPTION__TOKENS">Tokens</span>
      </div>
    </div>

    <div class="m-proSubscriptionPlan__pricing">
      <span
        class="m-proSubscriptionPlanPricing__amount"
        i18n="@@PRO_SUBSCRIPTION__PER_MONTH"
      >
        <span>{{ pricing.amount }}</span> per month
      </span>

      <span
        class="m-proSubscriptionPlanPricing__offer"
        *ngIf="pricing.offerFrom"
        i18n="@@PRO_SUBSCRIPTION__PER_MONTH"
      >
        <span>{{ pricing.offerFrom }}</span> per month
      </span>
    </div>

    <div>
      <ng-container *mIfFeature="'purchase-pro'; else comingSoon">
        <div class="m-proSubscription__button">
          <button
            class="mf-button mf-button--alt"
            [disabled]="active || inProgress || criticalError"
            (click)="enable()"
            i18n="@@PRO_SUBSCRIPTION__UPGRADE_TO_PRO"
          >
            Upgrade to Pro
          </button>
          <div class="m-proSubscription__alreadyAMemberNotice" *ngIf="active">
            <span i18n="@@PRO_SUBSCRIPTION__ALREADY_PRO_MEMBER"
              >You're already a Pro member.</span
            >
            <a
              [routerLink]="[
                '/pro',
                session.getLoggedInUser().username,
                'settings',
                'subscription'
              ]"
              i18n="@@PRO_SUBSCRIPTION__MANAGE_MEMBERSHIP"
            >
              Manage membership.
            </a>
          </div>
        </div>
        <button
          class="mf-button mf-button--alt"
          *ngIf="session.getLoggedInUser() && !active"
          [routerLink]="[
            '/pro/' + session.getLoggedInUser().username + '/settings'
          ]"
          i18n="@@PRO_SUBSCRIPTION__TRY_PRO"
        >
          Try Pro
        </button>
      </ng-container>
      <ng-template #comingSoon>
        <button class="mf-button mf-button--alt" i18n="@@COMMON__COMING_SOON">
          Coming soon
        </button>
      </ng-template>
    </div>
  </div>
</ng-container>

<ng-template #inProgressSpinner>
  <div class="m-proSubscription__inProgress">
    <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
  </div>
</ng-template>
