<m-settingsV2__header>
  <div
    class="m-settingsV2__headerLabel"
    i18n="@@SETTINGS__PRO__HASHTAGS__LABEL"
  >
    Hashtags
  </div>
  <div class="m-settingsV2__desc" i18n="@@SETTINGS__PRO__HASHTAGS__DESCRIPTION">
    Set up your category filter hashtags.
    <a class="m-form__upgradeLink" routerLink="/pro" *ngIf="!isActive"
      >Upgrade to Pro</a
    >
  </div>
</m-settingsV2__header>

<form *ngIf="form" [formGroup]="form" class="m-formLayout--buttonRight">
  <div class="m-form__fieldsContainer containsDragDrop">
    <div class="m-form__field--grid" formArrayName="tag_list">
      <div class="m-form__row--label">
        <label i18n="@@COMMON__HASHTAGS">Hashtags</label>
        <m-tooltip
          ><span m-tooltip--anchor>𝒊</span>
          <ng-container i18n="@@PRO_HASHTAGS__HASHTAGS_INFO"
            >Create a topbar of links to provide easy access to site contents
            that share a hashtag</ng-container
          ></m-tooltip
        ><button
          type="button"
          (click)="addBlankTag()"
          data-minds="addHashtag"
          i18n="@@COMMON__ADD"
        >
          Add
        </button>
      </div>
      <div class="m-form__row--input" *ngIf="form.value.tag_list.length > -1">
        <m-draggableList
          [headers]="['Label', '#Hashtag']"
          [data]="form.value.tag_list"
          [id]="'tag'"
          (emptyListHeaderRowClicked)="addBlankTag()"
          (arrayChanged)="setTags($event)"
          #hashtagDraggable
        >
          <ng-template let-tag="item" let-i="i">
            <ng-container [formGroupName]="i">
              <input
                class="m-draggableList__cell form-control"
                type="text"
                [id]="'tag-label-' + i"
                [name]="'tag[' + i + '][label]'"
                formControlName="label"
                autofocus
                [attr.data-minds]="'tag__label--' + i"
                (focusin)="hashtagDraggable.onFocusIn($event)"
                (focusout)="hashtagDraggable.onFocusOut($event)"
                (mouseover)="hashtagDraggable.onFocusIn($event)"
                (mouseout)="hashtagDraggable.onFocusOut($event)"
              />
              <input
                class="m-draggableList__cell form-control"
                type="text"
                [id]="'tag-tag-' + i"
                [name]="'tag[' + i + '][tag]'"
                formControlName="tag"
                [attr.data-minds]="'tag__tag--' + i"
                (focusin)="hashtagDraggable.onFocusIn($event)"
                (focusout)="hashtagDraggable.onFocusOut($event)"
                (mouseover)="hashtagDraggable.onFocusIn($event)"
                (mouseout)="hashtagDraggable.onFocusOut($event)"
              />
            </ng-container>
          </ng-template>
        </m-draggableList>
      </div>
    </div>
  </div>
  <div class="m-form__buttonsContainer">
    <m-shadowboxSubmitButton
      [disabled]="!canSubmit()"
      [saving]="inProgress"
      (click)="submit()"
      i18n="@@PRO_HASHTAGS__SAVE_HASHTAGS"
    >
      Save Hashtags
    </m-shadowboxSubmitButton>
  </div>
</form>
