m-hashtags--sidebar-selector {
  display: block;

  .m-hashtags--sidebar-selector {
    padding: 16px;
  }

  .m-hashtagsSidebarSelector__header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    > h3 {
      flex-grow: 1;
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      line-height: 1;
      @include m-theme() {
        color: themed($m-grey-700);
      }
    }

    .m-switch__label {
      top: 0;
      font-size: 9px;
      font-weight: bold;
      line-height: 1;
      margin-right: 8px;
      @include m-theme() {
        color: themed($m-grey-400);
      }
    }
  }

  .m-hashtagsSidebarSelector__SwitchComponent {
    position: relative;
  }

  .m-hashtagsSidebarSelectorSwitchComponent__Overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    cursor: pointer;
  }

  .m-hashtagsSidebarSelector__toggleTrending {
    font-size: 9px;
    font-weight: 600;
    cursor: pointer;
    @include m-theme() {
      color: themed($m-grey-400);
    }
  }

  .m-hashtagsSidebarSelector__spinner {
    margin: 16px 0;
    text-align: center;
  }

  .m-hashtagsSidebarSelector__list {
    > ul {
      margin: 0;
      padding: 0;
      list-style: none;

      > li,
      li m-hashtagsSidebarSelector__item {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;

        @media screen and (max-width: 480px) {
          margin-bottom: 12px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .m-hashtagsSidebarSelectorList__label {
      flex-grow: 1;
      font-size: 13px;
      line-height: 1.2;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      @include m-theme() {
        color: themed($m-grey-600);
      }

      @media screen and (max-width: 480px) {
        font-size: 15px;
        letter-spacing: 0.1px;
      }

      &.m-hashtagsSidebarSelectorList__label--visible {
        @include m-theme() {
          color: themed($m-blue);
        }
      }
    }

    .m-hashtagsSidebarSelectorList__visibility {
      flex-shrink: 0;
      width: 28px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      @include m-theme() {
        color: themed($m-grey-600);
      }

      @media screen and (max-width: 480px) {
        display: none;
      }

      &.m-hashtagsSidebarSelectorList__visibility--visible {
        @include m-theme() {
          color: themed($m-blue);
        }
      }

      > i.material-icons {
        font-size: 14px;
        line-height: 14px;
      }
    }

    .m-hashtagsSidebarSelectorList__switch {
      flex-shrink: 0;
      width: 28px;
      text-align: right;
    }

    .m-hashtagsSidebarSelectorItem__input {
      margin-left: -9px;
      padding-top: 4px;
      width: calc(100% + 18px);
    }

    .m-hashtagsSidebarSelectorList__addInput {
      flex-grow: 1;
      appearance: none;
      border-radius: 24px;
      padding-left: 8px;
      font-family: inherit;
      font-size: 12px;
      line-height: 24px;
      outline: 0;
      font-weight: 500;
      @include m-theme() {
        color: themed($m-grey-600);
        border: 1px solid themed($m-grey-50);
      }

      &::placeholder {
        @include m-theme() {
          color: themed($m-grey-200);
        }
      }
    }

    .m-hashtagsSidebarSelectorList__addButton {
      flex-shrink: 0;
      width: 28px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      @include m-theme() {
        color: themed($m-grey-600);
      }

      > i.material-icons {
        font-size: 12.5px;
      }
    }
  }

  .m-hashtagsSidebarSelector__showMoreLink {
    display: block;
    margin-top: 16px;
    font-size: 9px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    @include m-theme() {
      color: themed($m-grey-200);
    }
  }
}

.m-newsfeed__CompactHashtagSelector {
  display: none;

  @media screen and (max-width: 850px) {
    display: block;
    margin-bottom: 16px;
  }
}

.m-hashtagsSidebarSelector__CompactList {
  position: relative;

  .m-hashtagsSidebarSelectorCompactList__Overflow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 48px;
    z-index: 1;
    @include m-theme() {
      background: linear-gradient(
        to right,
        rgba(themed($m-white), 0) 0%,
        rgba(themed($m-body-bg), 1) 50%
      );
    }

    .m-hashtagsSidebarSelectorCompactListOverflow__Arrow {
      position: absolute;
      font-size: 12px;
      right: 0;
      top: 1px;
      line-height: 9px;
      vertical-align: middle;
    }
  }

  > ul {
    white-space: nowrap;
    width: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      display: inline-flex;
      align-items: center;
      margin-right: 0.65em;
    }
  }

  .m-hashtagsSidebarSelectorCompactList__Label {
    flex-grow: 1;
    line-height: 1.2;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    max-width: 25vw;
    font-size: 12px;
    @include m-theme() {
      color: themed($m-grey-600);
    }

    &.m-hashtagsSidebarSelectorCompactList__Label--visible {
      @include m-theme() {
        color: themed($m-blue);
      }
    }
  }
}

.m-hashtags--sidebar-selector.m-hashtags--sidebar-selector--expanded {
  position: absolute;
  display: block;
  border-radius: 6px;
  top: 100%;
  left: -4px;
  right: -4px;
  margin-top: 8px;
  overflow-y: auto;
  max-height: 70vh;
  @include m-theme() {
    background-color: themed($m-white);
    border: 1px solid themed($m-grey-50);
    box-shadow: 1px 1px 1px rgba(themed($m-black), 0.1);
  }
}
