m-inline-editor {
  // new stacking context
  position: relative;
  z-index: 0;

  display: block;

  .material-icons.file-upload::before {
    content: 'file_upload';
  }

  .medium-editor-element,
  .medium-insert-link-input {
    outline: none;
  }

  .m-inline-editor--toolbar-text {
    font-size: 18px;
  }

  .m-blog--image {
    position: relative;
    .m-blog--image--in-progress-overlay {
      position: absolute;
      height: 100%;
      width: calc(100% + 200px);
      max-width: initial;
      display: flex;
      align-items: center;
      justify-content: center;
      @include m-theme() {
        background-color: rgba(themed($m-white), 0.8);
      }
    }

    .medium-insert-image-active {
      @include m-theme() {
        border: 2px solid themed($m-blue);
      }
    }
    .m-blog--image-caption {
      min-width: 100px;
      min-height: 1.58em;
    }
  }
}

@-webkit-keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12);
  }
  20% {
    opacity: 0.7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2);
  }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12);
  }
  20% {
    opacity: 0.7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2);
  }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.medium-editor-anchor-preview {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  line-height: 1.4;
  max-width: 280px;
  position: absolute;
  text-align: center;
  top: 0;
  word-break: break-all;
  word-wrap: break-word;
  visibility: hidden;
  // z-index note: leaving this high value here b/c external plugin
  z-index: 2000;
}

.medium-editor-anchor-preview a {
  display: inline-block;
  margin: 5px 5px 10px;
  @include m-theme() {
    color: themed($m-white);
  }
}

.medium-editor-anchor-preview-active {
  visibility: visible;
}

.medium-editor-dragover {
  @include m-theme() {
    background-color: themed($m-grey-100);
  }
}

.medium-editor-image-loading {
  -webkit-animation: medium-editor-image-loading 1s infinite ease-in-out;
  animation: medium-editor-image-loading 1s infinite ease-in-out;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  width: 40px;
  @include m-theme() {
    background-color: themed($m-grey-900);
  }
}

.medium-editor-placeholder {
  position: relative;
}

.medium-editor-placeholder:after {
  content: attr(data-placeholder) !important;
  font-style: italic;
  position: absolute;
  left: 0;
  top: 0;
  white-space: pre;
  padding: inherit;
  margin: inherit;
}

.medium-editor-placeholder-relative {
  position: relative;
}

.medium-editor-placeholder-relative:after {
  content: attr(data-placeholder) !important;
  font-style: italic;
  position: relative;
  white-space: pre;
  padding: inherit;
  margin: inherit;
}

.medium-toolbar-arrow-under:after,
.medium-toolbar-arrow-over:before {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0;
}

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px;
}

.medium-toolbar-arrow-over:before {
  border-width: 0 8px 8px 8px;
  top: -8px;
}

.medium-editor-toolbar {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  // z-index note: leaving this high value here b/c external plugin
  z-index: 999999;
}

.medium-editor-toolbar ul {
  margin: 0;
  padding: 0;
}

.medium-editor-toolbar li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.medium-editor-toolbar li button {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.33;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}

.medium-editor-toolbar li button:focus {
  outline: none;
}

.medium-editor-toolbar li .medium-editor-action-underline {
  text-decoration: underline;
}

.medium-editor-toolbar li .medium-editor-action-pre {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 12px;
  font-weight: 100;
  padding: 15px 0;
}

.medium-editor-toolbar-active {
  visibility: visible;
}

.medium-editor-sticky-toolbar {
  position: fixed;
  top: 1px;
}

.medium-editor-relative-toolbar {
  position: relative;
}

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
  -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
  animation: medium-editor-pop-upwards 160ms forwards linear;
}

.medium-editor-action-bold {
  font-weight: bolder;
}

.medium-editor-action-italic {
  font-style: italic;
}

.medium-editor-toolbar-form {
  display: none;
}

.medium-editor-toolbar-form input,
.medium-editor-toolbar-form a {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.medium-editor-toolbar-form .medium-editor-toolbar-form-row {
  line-height: 14px;
  margin-left: 5px;
  padding-bottom: 5px;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input,
.medium-editor-toolbar-form label {
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 6px;
  width: 316px;
  display: inline-block;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:focus,
.medium-editor-toolbar-form label:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  outline: 0;
}

.medium-editor-toolbar-form a {
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 10px;
  text-decoration: none;
}

.medium-editor-toolbar-form-active {
  display: flex;
  align-items: center;
}

.medium-editor-toolbar-actions:after {
  clear: both;
  content: '';
  display: table;
}

.medium-editor-element {
  word-wrap: break-word;
  min-height: 30px;
}

.medium-editor-element img {
  max-width: initial;
  height: auto;
  width: calc(100% + 200px);
  margin: 0 -100px;
}

.medium-insert-embeds {
  position: relative;
  width: calc(100% + 200px);
  margin: 0 -100px;

  figure {
    margin: 0;
  }
}

.medium-editor-element sub {
  vertical-align: sub;
}

.medium-editor-element sup {
  vertical-align: super;
}

.medium-editor-hidden {
  display: none;
}

// THEME!
.medium-toolbar-arrow-under:after {
  top: 50px;
  @include m-theme() {
    border-color: themed($m-grey-950) transparent transparent transparent;
  }
}

.medium-toolbar-arrow-over:before {
  @include m-theme() {
    border-color: transparent transparent themed($m-grey-950) transparent;
  }
  top: -8px;
}

.medium-editor-toolbar {
  border-radius: 3px;
  @include m-theme() {
    background-color: rgba(themed($m-black), 0.99);
  }
}

.medium-editor-toolbar li button {
  background: transparent;
  border: 0;
  height: 50px;
  min-width: 50px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  @include m-theme() {
    color: themed($m-white);
    border-right: 1px solid rgba(themed($m-black), 0.5);
  }
}

.medium-editor-toolbar li button:hover {
  @include m-theme() {
    background-color: rgba(themed($m-white), 0.2);
  }
}

.medium-editor-toolbar li .medium-editor-button-first {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.medium-editor-toolbar li .medium-editor-button-last {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.medium-editor-toolbar li .medium-editor-button-active {
  @include m-theme() {
    color: themed($m-blue);
  }
}

.medium-editor-toolbar-form {
  border-radius: 5px;
  @include m-theme() {
    color: themed($m-white);
    background-color: rgba(themed($m-black), 0.99);
  }
}

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  @include m-theme() {
    color: themed($m-white);
    background-color: rgba(themed($m-black), 0.99);
  }
}

.medium-editor-toolbar-form a {
  @include m-theme() {
    color: themed($m-white);
  }
}

.medium-editor-toolbar-anchor-preview {
  border-radius: 5px;
  @include m-theme() {
    color: themed($m-white);
    background-color: rgba(themed($m-black), 0.99);
  }
}

.medium-editor-placeholder:after {
  @include m-theme() {
    color: themed($m-grey-200);
  }
}

.medium-insert-embeds {
  position: relative;
  .medium-insert-embeds-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

/** buttons plugin **/
.medium-editor-insert-plugin {
  outline: 0 solid transparent;
  &:focus {
    outline: 0 solid transparent;
  }

  .clearfix:before,
  &:before,
  .clearfix:after,
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }

  p {
    margin: 1em 0;
  }

  progress {
    display: block;
    margin: 1em auto;
  }

  .hide {
    display: none;
  }

  .medium-media-buttons {
    display: flex;
    .medium-media-buttons-upload {
      display: block;
      cursor: pointer;
      width: 32px;
      height: 32px;
      box-sizing: border-box;
      border-radius: 20px;
      line-height: 30px;
      text-align: center;
      padding: 0;
      font-family: Arial;
      margin: 0 10px 0 0;
      @include m-theme() {
        color: themed($m-grey-200);
        background-color: themed($m-white);
        border: 1px solid themed($m-grey-100);
      }
    }
    .medium-insert-link-input {
      border-radius: 3px;
      font-size: 12px;
      font-family: 'Roboto', Helvetica, sans-serif;
      padding: 8px;
      flex-grow: 1;
      @include m-theme() {
        color: themed($m-grey-400);
        border: 1px solid themed($m-grey-50);
      }
    }
  }

  .medium-insert-buttons {
    position: absolute;
    font-size: 0.9em;
    @include m-theme() {
      color: themed($m-grey-200);
    }
    button {
      display: block;
      cursor: pointer;
      width: 32px;
      height: 32px;
      box-sizing: border-box;
      border-radius: 20px;
      line-height: 30px;
      text-align: center;
      padding: 0;
      font-family: Arial;
      @include m-theme() {
        color: themed($m-grey-200);
        background-color: themed($m-white);
        border: 1px solid themed($m-grey-100);
      }
    }

    .medium-insert-buttons-show {
      font-size: 25px;
      transform: rotate(0);
      transition: transform 100ms;
      span {
        display: block;
        margin-top: -4px;
      }
      &.medium-insert-buttons-rotate {
        transition: transform 250ms;
        transform: rotate(45deg);
      }
    }

    .medium-insert-buttons-addons {
      margin: 0;
      padding: 0;
      list-style: none;
      display: none;
      position: relative;
      z-index: 2;
      left: 40px;
      top: -32px;
      li {
        display: inline-block;
        margin: 0 5px;

        i {
          vertical-align: middle;
          font-size: 20px;
        }
      }
    }
    .medium-insert-buttons-addons-show {
      display: block;
    }
  }
}

.medium-insert-caption-placeholder {
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    content: attr(data-placeholder);
  }
}
