<ng-template #searchBar>
  <div class="m-v3Topbar__searchBox" *ngIf="showSearchBar">
    <ng-content select="[search]"></ng-content>
  </div>
</ng-template>

<div
  class="m-v3Topbar__top"
  [class.m-v3Topbar__top--noBorder]="
    !(pageLayoutService.hasTopbarBorder$ | async)
  "
  [class.m-v3Topbar__top--noBackground]="
    !(pageLayoutService.hasTopbarBackground$ | async)
  "
  [class.m-v3Topbar__top--loggedOut]="!getCurrentUser()"
  [style.visibility]="showTopbar ? 'visible' : 'hidden'"
>
  <div class="m-v3TopbarTop__inner m-pageLayout__container">
    <div class="m-v3Topbar__leftColumn m-pageLayout__pane--left">
      <nav class="m-v3Topbar__nav">
        <a
          class="m-v3TopbarNav__item m-v3TopbarNav__item--logo"
          routerLink="/"
          title="Home"
          i18n-title="@@COMMON__HOME"
          (touchstart)="touchStart()"
          (mouseenter)="mouseEnter()"
          (mouseleave)="mouseLeave()"
        >
          <img
            [src]="cdnAssetsUrl + 'assets/logos/bulb.svg'"
            class="m-v3Topbar__logo--bulb"
          />
          <img
            [src]="cdnAssetsUrl + 'assets/logos/logo.svg'"
            class="m-v3Topbar__logo--full"
          />
        </a>

        <div
          class="m-v3TopbarNav__item m-v3TopbarNav__item--hamburger"
          (click)="toggleSidebarNav()"
        >
          <i class="material-icons">menu</i>
        </div>
      </nav>
    </div>

    <div
      class="m-pageLayout__pane--main"
      style="display:flex; flex-direction: row;"
    >
      <div class="m-v3Topbar__middleColumn">
        <ng-container *ngTemplateOutlet="searchBar"></ng-container>
      </div>

      <div class="m-v3Topbar__spacer"></div>

      <div class="m-v3Topbar__rightColumn">
        <ng-container *ngIf="!onAuthPages && !getCurrentUser()">
          <div class="m-v3TopbarContainer__loginWrapper">
            <a
              class="m-v3TopbarLoginWrapper__login"
              routerLink="/login"
              title="Login"
              i18n-title="@@COMMON__LOGIN"
            >
              Login
            </a>

            <a
              class="m-v3TopbarLoginWrapper__joinMindsNow"
              routerLink="/register"
              title="Join Minds Now"
              i18n-title="@@COMMON__JOIN_MINDS_NOW"
            >
              Join Minds Now
            </a>
          </div>
        </ng-container>

        <div class="m-v3Topbar__userMenu" *ngIf="getCurrentUser()">
          <div class="m-v3Topbar__spacer"></div>
          <!-- edit -->
          <ng-content select="[icons]"></ng-content>
          <m-usermenu__v3
            [useAvatar]="true"
            [showFooterLinks]="true"
          ></m-usermenu__v3>
        </div>

        <div class="m-v3Topbar__notificationsToasterWrapper">
          <div class="m-v3Topbar__notificationsToaster">
            <ng-template dynamic-host></ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
