m-button {
  // new stacking context
  position: relative;
  z-index: 0;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: 26px;

  @include m-theme() {
    // TODO: Avoid cascade-hell :(
    color: themed($m-btn--primaryText) !important;
    background: themed($m-btn--primary);
  }

  &.m-button--disabled .m-button__defaultAction,
  &.m-button--disabled .m-button__dropdownArrow {
    position: relative;
    pointer-events: none;
    cursor: initial !important;
  }

  a {
    font-weight: inherit !important;
    color: inherit !important;
  }

  .m-button__defaultAction {
    padding: 7px 19px;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
  }

  .m-button__dropdownArrow {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-left: 1px solid;
    font-size: 9px; /* m-icon is 135% this size */
    cursor: pointer;

    @include m-theme() {
      border-color: rgba(themed($m-btn--primaryText), 0.2);
    }
  }

  .m-button__disabledOverlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: initial;

    @include m-theme() {
      background: rgba(themed($m-white), 0.2);
    }
  }

  m-overlay {
    z-index: 2;

    @media screen and (max-width: $max-mobile) {
      @include m-on-theme(light) {
        background: rgba(255, 255, 255, 0.85);
      }

      @include m-on-theme(dark) {
        background: rgba(0, 0, 0, 0.65);
      }
    }
  }
}

.m-button-v2 {
  display: inline-block;
  font-size: 1em;
  line-height: calc(1em + 5px);
  border-radius: calc(1em + 4px);
  padding: 7px 20px;
  cursor: pointer;

  &.m-button-v2--iconOnly {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(1em + 16px);
    height: calc(1em + 16px);
    padding: 0;
  }

  &.m-button-v2--notInteractive {
    cursor: default;
  }

  @include m-theme() {
    color: themed($m-textColor--primary);
    background-color: themed($m-bgColor--primary);

    &.m-button-v2--transparent {
      background: rgba(themed($m-bgColor--primary), 0.9);
    }

    &.m-button-v2--positive {
      color: themed($m-white-always);
      background: themed($m-positive);
    }
  }

  @include m-on-theme(light) {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  }

  @include m-on-theme(dark) {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.m-fieldButton-v2 {
  padding: 8px 23px;
  margin: 0;
  cursor: pointer;
  font-weight: bold;

  position: relative;
  appearance: none;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid;
  border-radius: 2px;
  font-size: inherit;
  line-height: inherit;

  @include m-theme() {
    color: themed($m-textColor--secondary);
    background: themed($m-bgColor--secondary);
    border-color: themed($m-borderColor--primary);
  }

  @include m-on-theme(light) {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  }

  @include m-on-theme(dark) {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  &[disabled] {
    cursor: initial;
  }
}

.m-cardButton-v2 {
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
  font-weight: normal;

  position: relative;
  appearance: none;
  box-sizing: border-box;
  background: transparent;
  border-radius: 2px;
  font-size: inherit;
  line-height: inherit;

  @include m-theme() {
    color: themed($m-textColor--primary);
    background: themed($m-borderColor--primary);
  }

  &[disabled] {
    cursor: initial;
  }
}
