<minds-button-thumbs-up [object]="entity"></minds-button-thumbs-up>
<minds-button-thumbs-down [object]="entity"></minds-button-thumbs-down>

<minds-button-remind
  [object]="entity"
  *ngIf="allowReminds"
></minds-button-remind>
<minds-button-comment
  [object]="entity"
  (click)="toggleComments()"
  *ngIf="
    !service.displayOptions.showComments || service.displayOptions.showComments
  "
></minds-button-comment>

<!-- Show wire if not own post -->
<ng-container *ngIf="session.getLoggedInUser().guid != entity.ownerObj.guid">
  <div class="m-layout__spacer"></div>

  <m-wire-button [object]="entity"></m-wire-button>
</ng-container>

<!-- Show boost if own post -->
<ng-container *ngIf="session.getLoggedInUser().guid == entity.ownerObj.guid">
  <div class="m-layout__spacer"></div>

  <button
    class="m-btn m-btn--slim m-boostButton"
    (click)="openBoostModal($event)"
  >
    <span i18n="verb|@@M__ACTION__BOOST">Boost</span>
    <m-icon from="md" iconId="trending_up" [sizeFactor]="20"></m-icon>
  </button>
</ng-container>
