@import 'defaults';

m-newsfeed--sorted {
  .m-feeds-sorted__list {
    &.m-feeds-sortedList__flex {
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;
      max-width: 680px;
      margin: auto;

      m-newsfeed__entity {
        display: contents;

        m-channels--tile,
        m-groups--tile {
          display: contents;
        }

        .m-channels--tile,
        .m-groups--tile {
          margin: 0 4px 16px;
          flex-basis: calc(50% - 16px);
          max-width: calc(50% - 16px);

          @media screen and (max-width: 500px) {
            flex-basis: calc(100% - 16px);
            max-width: calc(100% - 16px);
          }

          .body {
            & h3,
            & span {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

.m-feeds-sorted__fallbackLegend {
  text-align: center;
  margin: 32px auto 28px;
  height: 0;
  position: relative;
  border-top: 1px solid;

  @include m-theme() {
    border-top-color: themed($m-grey-200);
  }

  > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 0 12px;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    @include m-theme() {
      color: themed($m-grey-400);
      background: themed($m-body-bg);
    }
  }
}

.m-feeds-sorted__query {
  font-size: 16px;
  letter-spacing: 1px;
  margin: 12px 4px 4px;
}

.m-feeds-sorted__Filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 16px;
  @include m-theme() {
    background-color: themed($m-bgColor--secondary);
  }

  &.m-feeds-sorted__Filter--end {
    justify-content: flex-end;
  }

  m-sort-selector {
    flex-grow: 1;
  }

  m-topbar--navigation--options {
    padding-right: 0;
  }
}

.m-feeds-sorted__SearchBox {
  width: 100%;
  display: none;

  @media screen and (max-width: 480px) {
    display: block;
  }

  > .mdl-textfield {
    margin: 0 0 16px;
    padding: 0;

    .mdl-textfield__input {
      outline: none;
      border-radius: 6px;
      @include m-theme() {
        border: 1px solid themed($m-grey-50);
      }
    }
  }

  .m-searchBarSuggestions {
    width: 100%;
    margin-top: 1px;
    border-radius: 6px;
    max-height: 50vh;
    @include m-theme() {
      box-shadow: 1px 1px 1px rgba(themed($m-black), 0.26);
    }

    .m-searchBarSuggestions__suggestion {
      padding: 16px 8px;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.m-feeds-sorted__query {
  font-size: 16px;
  font-family: 'Roboto', Helvetica, sans-serif;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  padding: 8px;
  font-weight: 400;
  @include m-theme() {
    color: themed($m-grey-800);
  }
}
