m-popover {
  .m-popover__wrapper {
    position: relative;
    //margin-top: 1.5rem;
    display: block;

    .m-popover__content {
      margin-top: 2.2rem;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      //left: -150px;
      transform: translate(0, 10px);
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

      width: 90%;

      &::before {
        position: absolute;
        z-index: -1;
        content: '';
        top: -8px;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        transition-duration: 0.3s;
        transition-property: transform;
        height: 24px;

        @include m-theme() {
          border-color: transparent transparent themed($m-white) transparent;
        }
      }

      @include m-theme() {
        background-color: themed($m-white);
      }

      &.m-popover__content--visible {
        @include z-index(toast);
        opacity: 1;
        visibility: visible;
        transform: translate(0, -20px);
        transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
      }

      ul.m-popover__rules {
        list-style-type: none;

        li {
          @include m-theme() {
            color: themed($m-grey-300);
          }

          &::before {
            content: ' ';
            margin: 0 5px 0 -15px;
            width: 24px;
            vertical-align: middle;
            line-height: 1;
            font-size: 21px;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;

            font-weight: 400;
            font-style: normal;
            word-wrap: normal;
            -moz-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
          }

          &.m-popover__rule--checked::before {
            font-family: 'Material Icons';
            @include m-theme() {
              color: themed($m-green);
            }
            // check
            content: '\e5ca';
          }
        }
      }
    }
  }
}
