@import 'defaults.scss';
@import '../activity.component.scss';

:host {
  .m-activity__minimalMetrics {
    font-size: 16px;
    padding: 0 $activity-padding-lr--minimalMode 16px;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }

    &.addTopSpacing {
      padding-top: 16px;
    }
  }
  a {
    font-weight: 400;
    text-decoration: none;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
