.m-read-more--button {
  text-align: left;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 42px 16px 16px;
  @include m-theme() {
    background: linear-gradient(
      to bottom,
      rgba(themed($m-bgColor--secondary), 0) 0%,
      rgba(themed($m-bgColor--secondary), 1) 50%
    );
  }

  > span {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    cursor: pointer;
    min-height: 20px;
    display: inline-block;
    font-family: 'Roboto', Helvetica, sans-serif;
  }
}

.m-readMoreButton--v2 {
  text-align: center;
  box-sizing: border-box;

  &.showOnlyFadeout {
    cursor: pointer;
    @include m-theme() {
      background: linear-gradient(
        to bottom,
        rgba(themed($m-bgColor--secondary), 0) 0%,
        rgba(themed($m-bgColor--secondary), 0.4) 30%,
        rgba(themed($m-bgColor--secondary), 1) 70%
      );
    }
    span {
      opacity: 0;
    }
  }

  > span {
    color: #1b85d6 !important;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Roboto', Helvetica, sans-serif;
  }
}

@mixin m-readMoreButton($backgroundColor) {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    rgba($backgroundColor, 0) 0%,
    rgba($backgroundColor, 1) 50%
  );
  transform: translateZ(0) translateY(1px);
  @content;
}
