@import 'defaults.scss';

$extra-wide-mobile: 675px;
$min-tablet-pro: 900px;

:host {
  .m-pro__channel {
    max-width: 1382px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 170px 1fr 100px;
    grid-template-columns: repeat(12, 1fr);
    min-height: 100%;

    &.hideLoginRow {
      grid-template-rows: 0 170px 1fr 100px;
      .m-proChannel__loginRow {
        display: none;
      }
    }
    &.splashVisible {
      max-height: 100vh;
      max-width: 100vw;
    }

    .is-pro-domain & {
      min-height: 100vh;
    }

    .m-proChannel__loginRow {
      grid-row: 1 / span 1;
      padding: 15px 8vw 13px 8vw;

      .m-proChannel__login {
        text-align: right;
        font-size: 17px;
        font-weight: 400;
        color: var(--m-pro--secondary-text-color);
        span {
          @media screen and (max-width: $max-mobile) {
            display: none;
          }
        }

        a {
          font-weight: 400;
          color: var(--m-pro--text-color);
          text-decoration: underline;
          transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          &:hover {
            cursor: pointer;
          }
        }
      }

      .m-proChannel__joinNow {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        flex-grow: 1;
        justify-content: flex-end;

        .m-proChannel__lowestPrice {
          font-size: 18px;
          font-weight: 400;
          margin-left: 20px;

          span {
            color: var(--m-pro--text-color);
          }
          span:first-child {
            color: var(--m-pro--secondary-text-color);
          }
          @media screen and (max-width: $min-tablet-pro) {
            display: none;
          }
        }
      }
      .m-proChannel__settingsLinkWrapper {
        flex-grow: 1;
        text-align: right;
      }
      .m-proChannelTopbar__settingsLink {
        font-size: 15px;
        font-weight: 400;
        color: var(--m-pro--secondary-text-color) !important;
        text-decoration: none;
        &:hover {
          color: var(--m-pro--primary-color) !important;
        }
      }
    }

    .m-proChannel__loginRow,
    .m-proChannel__topbar {
      @include z-index(topbar);
      width: 100%;
      box-sizing: border-box;

      grid-column: 1 / span 12;

      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--m-pro--border-color);

      @media screen and (max-width: $min-tablet-pro) {
        padding: 15px 5vw 13px 5vw !important;
      }
    }

    .m-proChannel__topbar {
      grid-row: 2 / span 1;
      padding: 16px 8vw;

      @media screen and (min-width: $max-mobile) and (max-width: $extra-wide-mobile) {
        flex-wrap: wrap;
      }

      .m-proChannel__topbarLeft {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        max-height: 100%;
        flex-grow: 1;

        img {
          max-height: 140px;
          max-width: 200px;
          @media screen and (min-width: $max-mobile) and (max-width: $extra-wide-mobile) {
            max-height: 100px;
            max-width: 140px;
          }
        }
      }
      .m-proChannelTopbar__logo {
        max-width: 200px;
        max-height: 100%;
        cursor: pointer;
        object-fit: contain;
        flex-grow: 0;
      }

      .m-proChannelTopbar__logo:focus {
        outline: none;
      }

      .m-proChannelTopbar__searchIcon {
        display: none;
        margin: 0 30px 0 40px;
        color: var(--m-pro--text-color);
        transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);

        &:hover {
          cursor: pointer;
          color: var(--m-pro--primary-color);
        }
        @media screen and (min-width: $extra-wide-mobile) and (max-width: $min-tablet-pro) {
          display: inline-block;
        }
      }

      &.searchBoxOpen {
        @media screen and (min-width: $extra-wide-mobile) and (max-width: $min-tablet-pro) {
          .m-proChannelTopbar__searchBox {
            visibility: visible;
            width: 100%;
            flex-grow: 1;
            margin: 0 30px 0 40px;
          }
          .m-proChannelTopbar__navItems,
          .m-proChannelTopbar__searchIcon {
            display: none;
          }
        }
      }

      .m-proChannelTopbar__searchBox {
        margin: 0 30px 0 40px;
        @media screen and (min-width: $extra-wide-mobile) and (max-width: $min-tablet-pro) {
          visibility: collapse;
          width: 0;
          margin: 0;
        }
        @media screen and (min-width: $max-mobile) and (max-width: $extra-wide-mobile) {
          width: 100%;
          margin-right: 0;
        }
        @media screen and (min-width: $min-tablet-pro + 1px) and (max-width: 1081px) {
          flex-grow: 1;
          max-width: 300px;
        }
      }

      .m-proChannelTopbar__navItems {
        display: flex;
        justify-content: flex-end;
        flex-flow: row nowrap;
        transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1);

        @media screen and (min-width: $max-mobile) and (max-width: $extra-wide-mobile) {
          width: 100%;
          justify-content: space-between;
          flex-grow: 1;
          > a:first-child {
            padding-left: 0;
          }
        }
      }

      a.m-proChannelTopbar__navItem {
        cursor: pointer;
        text-decoration: none;
        padding: 8px;
        font-size: 19px;
        font-weight: 400;
        transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        &:last-child {
          padding-right: 0;
        }
      }

      .m-btn:disabled {
        padding-left: 16px;
        color: gray !important;
        border: gray !important;
      }
    }

    .m-proChannel__body {
      grid-row: 3 / span 1;
      grid-column: 1 / span 12;
      padding: 0 16px;

      @media screen and (max-width: $max-mobile) {
        grid-row: 3 / span 2;
        margin-bottom: 24px;
      }

      & > m-blog-view-infinite,
      m-blog-view {
        background-color: transparent !important;
      }

      .m-proChannel__error {
        width: 100%;
        display: inline-block;
        margin: 16px 0;
        padding: 17px 8px;
        font-size: 24px;
        text-align: center;
        background: var(--m-pro--transparent-background-color);

        @include m-theme() {
          color: themed($m-red);
        }
      }
    }

    .m-proChannel__footer {
      grid-row: 4 / span 1;
      grid-column: 2 / span 10;
      width: 80%;
      margin: 0 auto;

      @media screen and (max-width: $min-tablet-pro) {
        display: none;
      }
    }

    m-pro--channel h1 {
      font-size: 70px;
      font-weight: bold;
    }

    // colors
    a.active,
    a:hover {
      color: var(--m-pro--primary-color) !important;
    }

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      color: var(--m-pro--text-color) !important;
    }
  }

  @media screen and (max-width: $max-mobile) {
    .m-pro__channel {
      .m-proChannel__body {
        margin-top: 10px;
      }
    }
  }

  ::ng-deep {
    m-pro__joinButton {
      m-shadowboxSubmitButton {
        display: inline-block;
      }
    }

    m-pro__searchbox {
      @media screen and (min-width: $extra-wide-mobile) and (max-width: $min-tablet-pro) {
        i.clear {
          display: inline-block !important;
        }
      }
    }

    minds-avatar {
      width: 100px;
      height: 100px;
      display: inline-flex;
      align-items: center;
      flex-shrink: 0;
      cursor: pointer;

      &:focus {
        outline: none;
      }
      .minds-avatar {
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
      }
    }
  }
}
