<div class="m-channelAbout__brief" *ngIf="service.channel$ | async as channel">
  <ng-container *ngIf="channel.briefdescription">
    <div class="m-channelAboutBrief__bio" m-read-more [maxHeightAllowed]="200">
      <div
        class="m-channelAboutBriefBio__content"
        [innerHtml]="channel.briefdescription | tags"
      ></div>

      <m-read-more--button
        wrapperClass="m-channelAboutBriefBio__readMore"
        i18n="@@COMMON__READ_MORE"
      >
        Read More
      </m-read-more--button>
    </div>
    <div class="m-channelAboutBrief__spacer"></div>
  </ng-container>

  <ng-container *ngIf="channel.city">
    <div class="m-channelAboutBrief__location">
      <m-icon iconId="location_on" [sizeFactor]="10"></m-icon>
      <span>{{ channel.city }}</span>
    </div>
    <div class="m-channelAboutBrief__spacer"></div>
  </ng-container>

  <div class="m-channelAboutBrief__stats">
    <div
      class="m-channelAboutBriefStats__item m-channelAboutBriefStats__item--subs"
    >
      <span
        class="m-channelAboutBriefStatsItem__label"
        i18n="@@COMMON__SUBSCRIBERS"
        [routerLink]="['/', this.service.username$ | async, 'subscribers']"
        >Subscribers</span
      >
      <a
        [routerLink]="['/', this.service.username$ | async, 'subscribers']"
        class="m-channelAboutBriefStatsItem__value"
        >{{ channel.subscribers_count | abbr: 0 }}</a
      >
    </div>

    <div
      class="m-channelAboutBriefStats__item m-channelAboutBriefStats__item--subs"
    >
      <span
        class="m-channelAboutBriefStatsItem__label"
        i18n="@@COMMON__SUBSCRIPTIONS"
        [routerLink]="['/', this.service.username$ | async, 'subscriptions']"
        >Subscriptions</span
      >
      <a
        [routerLink]="['/', this.service.username$ | async, 'subscriptions']"
        class="m-channelAboutBriefStatsItem__value"
        >{{ channel.subscriptions_count | abbr: 0 }}</a
      >
    </div>

    <div class="m-channelAboutBriefStats__item">
      <span class="m-channelAboutBriefStatsItem__label" i18n="@@COMMON__VIEWS"
        >Views</span
      >
      <span class="m-channelAboutBriefStatsItem__value">{{
        channel.impressions | abbr: 2
      }}</span>
    </div>
  </div>

  <div class="m-channelAboutBrief__spacer"></div>

  <!-- <div
    *ngIf="channel.social_profiles?.length"
    class="m-channelAboutBrief__socialLinks"
  >
    <m-channel__socialLinks
      [socialLinks]="channel.social_profiles"
    ></m-channel__socialLinks>
  </div>

  <div class="m-channelAboutBrief__spacer"></div> -->
</div>
