@import 'defaults.scss';

:host {
  .m-wireCreator__marketingBlock {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 220px; // 220px is ideal height for standard 13 inch screens
    user-select: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    background: none no-repeat center center;
    background-size: cover;

    @include m-theme() {
      background-color: themed($m-bgColor--tertiary);
      border-bottom: 1px solid themed($m-borderColor--primary);
    }

    &.isPlus {
      background-image: url('../../../../../../assets/photos/confetti-concert.png');
    }

    &.isPro {
      background-image: url('../../../../../../assets/photos/confetti-concert-red.jpg');
    }

    @media screen and (max-width: $max-mobile) {
      height: 250px;
      margin-top: 66px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .m-wireCreatorMarketingBlock__copy {
    padding: 50px 50px 20px 50px;

    @include m-theme() {
      color: themed($m-white-always);
    }

    @media screen and (max-width: $max-mobile) {
      padding: 24px 12px;
    }
  }
  .m-wireCreatorMarketingBlock__label {
    margin-bottom: 5px;
    font-size: 17px;
    display: flex;
    align-items: center;
    > span {
      display: inline-block;
      margin-right: 5px;
      @include m-theme() {
        text-shadow: 0 0 2px rgba(themed($m-black-always), 0.2);
      }
    }
    &.isPro {
      .m-wireCreatorMarketingBlock__badge {
        @include m-theme() {
          background-color: themed($m-amber);
        }
      }
    }
    &.badgeOnly {
      .m-wireCreatorMarketingBlock__badge {
        padding: 3px 3px 2px 3px;
        span {
          font-weight: 500;
        }
      }
    }
    .m-wireCreatorMarketingBlock__badge {
      display: inline-block;
      font-size: 14px;
      border-radius: 2px;
      padding: 2px 3px;
      line-height: 14px;
      @include m-theme() {
        background-color: themed($m-alert);
        color: themed($m-white-always);
      }
      > span {
        display: inline-block;
        line-height: 17px;
      }
    }
  }

  .m-wireCreatorMarketingBlock__title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 18px;
    @include m-theme() {
      color: themed($m-white-always);
      text-shadow: 0 0 2px rgba(themed($m-black-always), 0.2);
    }
  }
  .m-wireCreatorMarketingBlock__desc {
    margin-bottom: 10px;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }
  .m-wireCreatorMarketingBlock__learnMore {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;

    > * {
      @include m-theme() {
        color: themed($m-link);
      }
    }
    a {
      text-decoration: none;
      font-weight: 400;
      display: flex;
      align-items: center;
    }
    span {
      text-decoration: underline;
    }
    i {
      font-size: 20px;
      margin-left: 5px;
    }
  }
}
