@import 'defaults.scss';
@import '../../../../common/layout/layout.scss';

:host {
  > * {
    @media screen and (max-width: $layoutMax3ColWidth) {
      min-width: unset !important;
    }
  }
  .m-pageLayout__container {
    padding: 0 !important;
    width: 100% !important;
  }
  .m-channel__feed {
    min-height: 100vh;

    [class*='m-pageLayout__pane'] {
      .m-channelFeed__list,
      .m-channelFeed__grid,
      .m-channelFeed__toolbar,
      &.m-channelFeed__sidebar {
        padding-left: 40px;
        padding-right: 40px;

        @media screen and (max-width: $layoutMin3ColWidth) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    .m-channelFeed__toolbar {
      padding-top: 15px;
      padding-bottom: 15px;

      @include m-theme() {
        border-bottom: 1px solid themed($m-borderColor--primary);
      }
    }

    .m-channelFeed__grid {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .m-channelFeed__list {
      padding-top: 30px;
      padding-bottom: 30px;
      box-sizing: border-box;
      @media screen and (max-width: $layoutMax2ColFixedWidth) {
        min-width: 100%;
      }
    }
    .m-channelFeed__body {
      display: flex;
      flex-direction: column;
    }
    .m-pageLayout__pane--right {
      padding-top: 20px * 3;
      min-width: 310px;
    }

    .m-channelFeed__sidebar {
      > * + * {
        margin-top: 30px;
      }
    }

    ::ng-deep {
      m-newsfeed__entity {
        display: block;
        margin: 0 0 20px;
      }

      m-feedFilter {
        .m-channelFeed__filter {
          display: block;
          padding: 0 0 20px;
        }

        .m-channelFeedFilter__scheduled {
          display: flex;
          align-items: center;
          font-size: 15px;
          font-weight: 300;
          line-height: 20px;
          text-decoration: none;

          @include m-theme() {
            color: themed($m-textColor--primary);
          }

          i {
            font-size: 20px;
            margin: 0 8px 0 20px;
            @include m-theme() {
              color: themed($m-textColor--secondary);
            }
          }
        }
      }
    }
    &.m-channel__feed--grid {
      ::ng-deep {
        m-newsfeed__entity {
          margin-bottom: 0px;
        }
      }
    }
  }
}
