m-activity__content {
  display: block;
  width: 100%;
  position: relative;
  &.m-activityContent--paywalledStatus {
    min-height: 120px;
    padding-top: 50px;
  }
}
.m-activity--fixedHeight {
  m-activity__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 0;
  }

  .m-activityContent__media--video,
  .m-activityContent__media--image,
  .m-activityContent__media--richEmbed,
  .m-activityContent__remind {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .m-activityContent__media--image img {
    max-height: 100%;
    height: 100%;
  }
  .m-activityContent__fixedHeightSpacer {
    flex: 1;
  }
}

.m-activityContent__remind {
  overflow: hidden;
}

.m-activityContent__media--video,
.m-activityContent__media--image,
.m-activityContent__media--richEmbed {
  @include m-theme() {
    background: themed($m-bgColor--primary);
  }
}

.m-activityContent__message {
  font-size: 15px;
  white-space: pre-line;

  &.m-activityContent__message--isTextOnly {
    word-break: break-word;

    &.m-activityContent__message--short {
      line-height: 34px;
      font-size: 28px;
    }
  }
  &.m-activityContent__message--minimalMode {
    &.m-activityContent__message--remind {
      display: none;
    }

    .m-activityContent__messageWrapper {
      padding: 16px $activity-padding-lr--minimalMode;
    }
    a {
      font-weight: 400;
    }
  }
  .m-activityContent__messageWrapper {
    padding: 0px $activity-padding-lr 16px;

    .m-code-highlight {
      overflow-x: auto;
      font-size: 16px;

      pre {
        overflow-x: auto;
      }
    }
  }
}

.m-activityContent__message,
.m-activityContent__mediaDescription {
  white-space: pre-line;
  word-break: break-word;
  position: relative;
  @include m-theme() {
    color: themed($m-textColor--primary);
  }

  a {
    text-decoration: none;
    @include m-theme() {
      color: themed($m-blue);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.m-activityContent__mediaDescription {
  font-size: 16px;
  margin: 0;
  .m-activityContent__descriptionWrapper {
    padding: 16px $activity-padding-lr;
    &.m-activityContent__descriptionWrapper--minimalMode {
      padding: 16px $activity-padding-lr--minimalMode;
      > p {
        line-height: 20px;
      }
      .m-activityContent__mediaTitle {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 0px;
      }
      > p:not(.m-activityContent__mediaTitle) {
        a {
          font-weight: 400;
        }
      }
    }
  }
  p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
  }
}

.m-activityContent__mediaTitle {
  &:not(.m-activityContent__mediaTitle--noDescription) {
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 10px;
  }
}

.m-activityContent__media--video {
  .m-videoPlayer__placeholder {
    padding-top: 56.25%;
    height: 100%;
    box-sizing: border-box;
  }
  &.isPaywall {
    .m-videoPlayer__placeholder {
      .minds-video-play-icon {
        @media screen and (max-width: $max-mobile) {
          font-size: 70px;
        }
      }
    }
  }
}

.m-activityContent__media--image {
  a {
    height: 100%;
    width: 100%;
  }
  img {
    object-fit: contain;
    width: 100%;
    max-height: 800px;
  }
}

.m-activityContent__teaserFadeout {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100% - 40px);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  @include m-theme() {
    background: linear-gradient(
      to bottom,
      rgba(themed($m-bgColor--secondary), 0.3) 0%,
      rgba(themed($m-bgColor--secondary), 0.8) 30%,
      rgba(themed($m-bgColor--secondary), 1) 70%
    );
  }
}

.m-activityContent__media--richEmbed {
  &.m-activityContent__mediaRichEmbed--minimalMode {
    .meta {
      padding: 20px $activity-padding-lr--minimalMode;
      > * {
        font-size: 15px;
      }
      h2 {
        @include m-theme() {
          color: themed($m-textColor--primary) !important;
        }
      }
      .m-blurb {
        display: none;
      }
      .m-url {
        @include m-theme() {
          color: themed($m-textColor--secondary) !important;
        }
      }
    }
  }
  img {
    width: 100%;
    display: block;
    height: auto;
    max-height: 400px;
    object-fit: cover;
  }
  .meta {
    padding: 20px $activity-padding-lr;
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  h2 {
    font-size: 15px;
    text-decoration: none;
    @include m-theme() {
      color: themed($m-textColor--secondary) !important;
    }
  }
  .m-blurb {
    display: none;
  }
  .m-url {
    font-size: 13px;
    padding: 0;
    margin: 0;
    @include m-theme() {
      color: themed($m-textColor--tertiary) !important;
    }
  }

  a.m-richEmbed--paywalled {
    position: relative;
    cursor: default;
    @include m-theme() {
      background-color: themed($m-bgColor--secondary);
    }
    .m-rich-embed--title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 8px;
      @include m-theme() {
        color: themed($m-textColor--primary) !important;
      }
    }
    .m-blurb {
      display: block;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
    .m-url {
      display: none;
    }
  }

  // Fixed height remind workarounds
  .m-activity--fixedHeight {
    .m-activityContent__remind--hasMessage & {
      .m-rich-embed-src {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80px;
        padding: 10px;
        position: relative;

        .thumbnail {
          width: 30%;
          img {
            height: 80px;
            border-radius: 4px;
          }
        }
        .meta {
          flex: 1;
        }
      }
    }
  }
}

.m-activityContent__remind {
  padding: 0 $activity-padding-lr 16px;

  &.m-activityContent__remind--minimalMode {
    padding: 0;
    .m-activityContent__messageWrapper {
      padding-top: 0;
    }

    m-activity__remind {
      @include m-theme() {
        border: none;
      }
      font-weight: 400;
      a {
        font-weight: 400;
      }
    }
  }
}

.m-activity--minimalMode {
  .m-activityContent--paywalledStatus {
    padding-top: 30px;
  }
  .m-videoPlayer__placeholder i {
    font-size: 70px;
  }
}
