@import 'defaults';

$layout-header-height: 52px;
$layout-sidebar-width: 80px;

.hidden {
  display: none;
}
m-topbar {
  @include z-index(topbar);
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;

  width: 100%;
  min-width: $min-mobile;
  margin: 0;
  padding: 0;
  border: none;
  min-height: $layout-header-height;
  max-height: 1000px;

  transform: translateZ(0);

  @include m-theme() {
    color: themed($m-grey-500);
    background-color: themed($m-white);
    border-bottom: 1px solid themed($m-grey-50);
  }

  .m-topbar--row {
    margin: auto;
    max-width: 1280px;
  }

  .m-topbar--logo {
    width: 52px;
    height: 100%;
    //margin-right: 16px;
    text-align: center;
    @include m-theme() {
      background-color: themed($m-white);
    }

    img {
      max-height: 36px;
      margin-top: 8px;
      //opacity: 0.4;

      @media screen and (max-width: $max-mobile) {
        max-height: 20px;
        margin-top: 16px;
      }
    }
  }

  .m-menu--button {
    display: none;

    i {
      padding: 16px 0;
    }
  }

  .m-topbar--row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    box-sizing: border-box;
    align-self: stretch;
    align-items: center;
    height: $layout-header-height;
    margin: auto;
    width: 100%;
    padding-right: $minds-padding * 2;
  }

  @media screen and (max-width: 1080px) {
    m-search--bar {
      max-width: 150px;
    }

    //notification/wallet counters
    .counter {
      display: none;
    }
  }

  @media screen and (max-width: $max-mobile) {
    .minds-menu-button {
      display: block;
    }
    m-search--bar {
      display: none;
    }
  }

  @media screen and (max-width: 350px) {
    .m-topbar--logo {
      display: none;
    }
  }

  .m-topbar--account {
    margin-left: 8px;
    cursor: pointer;
    position: relative;

    img {
      border-radius: 50%;
      max-height: 30px;
      @include m-theme() {
        border: 1px solid themed($m-grey-50);
      }
    }

    .m-dropdown--menu,
    .m-dropdown__list {
      margin-top: 28px;
      li.mdl-menu__item {
        padding: 0;
        > a {
          padding: 0 $minds-padding * 2;
          text-decoration: none;
          font-weight: 400;
          display: block;
          @include m-theme() {
            color: rgba(themed($m-black), 0.87);
          }
        }
      }
    }
  }

  .m-topbar--icons {
    align-items: center;
    display: flex;
    margin-right: 8px;

    > * {
      padding: 0 4px;
    }

    a {
      text-decoration: none;
    }
    span {
      vertical-align: middle;
    }
    i.material-icons {
      font-size: 20px;
      vertical-align: middle;
      @include m-theme() {
        color: themed($m-grey-700);
      }
    }
    m-notifications--topbar-toggle {
      position: relative;
    }
  }

  .m-btn--login {
  }
}

.m-toolbar {
  .m-topbar--row {
    max-width: 1280px;
    margin: auto;
  }
  .m-topbar--navigation--item {
    cursor: pointer;
    line-height: 15px;
    border: 0 !important;

    > * {
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: $max-mobile) {
  .m-btn--boost {
    display: none;
  }
}

.m-topbar--navigation--item {
  m-tooltip {
    margin-left: 4px;

    .m-tooltip--bubble {
      min-width: 120px;
    }

    i {
      font-size: 11px;
      vertical-align: middle;
      line-height: 1.1;
      @include m-theme() {
        color: themed($m-grey-500);
      }
    }
  }
}
