m-settingsV2Pro__assets {
  [class*='m-form__filePreview'] {
    // new stacking context
    position: static;
    z-index: 0;

    overflow: hidden;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    margin: 0;
    @include m-theme() {
      box-shadow: 0 1px 4px 0 rgba(themed($m-black), 0.1);
    }

    &[class*='Overlay'] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      @include m-theme() {
        background: rgba(themed($m-black-always), 0.4);
      }
      &:hover {
        opacity: 1;
      }
      &.m-form__filePreviewOverlay--show {
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
    }

    > i.material-icons {
      font-size: 3em;
      @include m-theme() {
        color: themed($m-white-always);
      }
    }
  }
  input[type='file'] {
    position: absolute;
    -webkit-appearance: none;
    width: 0.1px;
    height: 0.1px;
    z-index: -1;
    opacity: 0.01;
    top: -1px;
    left: -1px;
  }
}
