m-pageLayout {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  min-height: 100%;
  padding: 56px 0 48px 0;
  @include m-theme() {
    background-color: themed($m-bgColor--primary);
    color: themed($m-textColor--primary);
  }
  &.isForm {
    min-height: 0px;
  }

  .m-tooltip {
    margin-left: 4px;
    i {
      font-size: 12px;
      @include m-theme() {
        color: rgba(themed($m-grey-300), 0.7);
      }
    }
    .m-tooltip--bubble {
      @include z-index(tooltip);
      font-size: 11px;
    }
  }
}
m-sidebarMenu {
  display: block;
  box-sizing: border-box;
  width: 245px;
  padding-left: 20px;
  @include m-theme() {
    background-color: themed($m-bgColor--secondary);
  }
}
.m-pageLayout__main {
  margin-left: 25%;
  margin-right: 24px;

  @include m-theme() {
    background-color: themed($m-bgColor--primary);
    color: themed($m-textColor--primary);
  }
}

@media screen and (max-width: $min-tablet) {
  m-pageLayout {
    &.isForm {
      padding-bottom: 0px;
    }
  }

  .m-pageLayout__main {
    display: block;
    margin: 0;
  }
  m-sidebarMenu {
    margin-left: 0;
  }
}
