@import 'defaults';

m-notifications--flyout {
  width: 320px;
  position: absolute;
  top: 24px;
  right: -160px;
  @include m-theme() {
    background-color: themed($m-grey-100);
  }

  @media screen and (max-width: $max-mobile) {
    right: -80px;
  }

  &.m-notificationsFlyout--newDesign {
    minds-notifications {
      .notifications-grid {
        &.m-notificationsGrid__noScroll {
          overflow-y: auto;
        }

        .mdl-cell--12-col minds-notification {
          .body {
            a {
              @include m-theme() {
                color: themed($m-textColor--primary);
              }
              .pseudo-link {
                @include m-theme() {
                  color: themed($m-link) !important;
                }
              }
            }

            .ts.m-notification__friendlyTS {
              text-transform: unset;
              font-size: 12px;
              letter-spacing: 0;

              @include m-theme() {
                color: themed($m-textColor--secondary);
              }
            }
          }
        }
      }
    }
  }

  minds-notifications {
    .mdl-tabs__tab-bar {
      height: 40px;

      .mdl-tabs__tab {
        padding: 0 10px;
        height: 40px;
        line-height: 40px;

        i {
          line-height: 2em;
          margin-left: 0;
          font-size: 18px;
        }

        span {
          display: none;
        }
      }
    }
  }

  .m-notifications--flyout--wrapper {
    max-height: calc(95vh - 60px);
    overflow: visible;

    &.m-notificationsFlyout--newNavigation {
      @include m-theme() {
        background-color: themed($m-bgColor--secondary);
      }
    }
  }

  .notifications-grid {
    max-height: calc(95vh - 200px);
    overflow-y: scroll;
    padding: 0;

    .mdl-cell--12-col {
      padding: 0;
      margin: 0;
      width: 100%;

      minds-notification {
        margin-bottom: 0;
        padding: 16px 8px;
        @include m-theme() {
          border-bottom: 1px solid themed($m-grey-50);
        }

        .body {
          padding: 0 8px;

          p {
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.25px;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
          }

          .ts {
            font-size: 10px;
            font-family: 'Roboto', Helvetica, sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.75px;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }
  }

  .m-notificationsFlyout__bottomContainer {
    padding: 18px 0;
    text-align: center;

    @include m-theme() {
      background-color: themed($m-bgColor--secondary);
    }

    a {
      font-size: 12px;
      letter-spacing: 0;
      font-weight: normal;

      text-decoration: none;
      cursor: pointer;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }

  .m-notifications--flyout--bottom-container {
    text-transform: uppercase;
    font-family: 'Roboto', Helvetica, sans-serif;
    letter-spacing: 2.5px;
    text-rendering: optimizeLegibility;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    padding: 8px;
    text-align: center;

    a {
      display: block;
    }
  }
}
