m-analytics__chart {
  display: block;
  position: relative;

  .js-plotly-plot,
  .plot-container {
    height: 44vh;
    min-height: 44vh;
    display: block;
  }
}
#graphDiv {
  display: block;
  position: relative;
  g,
  g > * {
    cursor: default;
  }

  > * {
    transition: background-color 0.3s cubic-bezier(0.23, 1, 0.32, 1),
      color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .main-svg {
    max-width: 100%;
  }
}

.m-analyticsChart__hoverInfoDiv {
  width: 160px;
  padding: 12px;
  position: absolute;
  pointer-events: none;
  border-radius: 3px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  @include m-theme() {
    background-color: themed($m-white);
    box-shadow: 0 0 4px rgba(themed($m-black), 0.3);
    color: themed($m-grey-300);
  }

  [class*='m-analyticsChart__hoverInfo__row'] {
    padding-bottom: 4px;
    font-weight: 300;
    &:last-of-type {
      padding-top: 2px;
    }
  }
  .m-analyticsChart__hoverInfo__row--primary {
    font-weight: 400;
    font-size: 15px;
    @include m-theme() {
      color: themed($m-grey-600);
    }
  }

  i {
    display: none;
    font-size: 15px;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    @include m-theme() {
      color: themed($m-grey-300);
    }
    &:hover {
      @include m-theme() {
        color: themed($m-grey-500);
      }
    }
  }
}

.isTouchDevice .m-analyticsChart__hoverInfoDiv i {
  display: block;
}

@media screen and (max-width: $min-tablet) {
  m-analytics__chart {
    margin-left: 16px;
  }
}
