m-dropdownMenu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    font: inherit;
    color: inherit;
  }

  .m-dropdownMenu__trigger {
    flex: 1;

    &.m-dropdownMenuTrigger--clickable {
      cursor: pointer;
    }
  }

  .m-dropdownMenu__menu {
    display: none;
    @include z-index(modal);

    @media screen and (min-width: $max-mobile + 1) {
      display: block;
      position: absolute;
    }

    @media screen and (max-width: $max-mobile) {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 2vh !important; // Override component's dynamic values
      right: 2vw !important; // Override component's dynamic values
      bottom: 2vh !important; // Override component's dynamic values
      left: 2vw !important; // Override component's dynamic values
    }

    ul {
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 14px 0;
      min-width: 222px;
      border: 1px solid;
      border-radius: 2px;

      @include m-theme() {
        border-color: themed($m-borderColor--primary);
        background: themed($m-bgColor--secondary);
      }

      @include m-on-theme(light) {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      }

      @include m-on-theme(dark) {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      }

      > li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 15px;
        line-height: 34px;
        white-space: nowrap;
        cursor: pointer;
        background: transparent;

        @include m-theme() {
          color: themed($m-textColor--primary);

          &:hover,
          &:active {
            background: themed($m-bgColor--primary);
          }
        }

        > * {
          flex: 1;
          margin: 0;
          padding: 0 10px 0 20px;
        }

        .m-dropdownMenu__item {
          display: flex;
          align-items: center;
          justify-content: space-between;

          m-icon + span,
          span + m-icon {
            margin-left: 11px;
          }

          span {
            flex: 1;
          }
        }
      }
    }
  }

  > m-overlay {
    @media screen and (max-width: $max-mobile) {
      @include m-on-theme(light) {
        background: rgba(255, 255, 255, 0.85);
      }

      @include m-on-theme(dark) {
        background: rgba(0, 0, 0, 0.65);
      }
    }
  }
}
