<ng-container m-clientMeta>
  <m-activity__ownerBlock *ngIf="service.displayOptions.showOwnerBlock">
    <ng-container class="m-activityOwnerBlock__right">
      <m-activity__metrics></m-activity__metrics>

      <ng-container *ngIf="entity$ | async as entity">
        <span
          *ngIf="entity.pinned"
          class="m-activity__flag m-activity__flag--pinned"
          data-cy="m-activity__pinnedFlag"
        >
          <m-icon from="custom" iconId="push_pin" m-tooltip--icon></m-icon>
          <span>Pinned</span>
        </span>
        <span
          *ngIf="entity.permaweb_id"
          class="m-activity__flag m-activity__flag--permaweb"
          data-cy="m-activity__permawebFlag"
        >
          <a
            [href]="
              'https://viewblock.io/arweave/tx/' +
              entity.permaweb_id +
              '?showData'
            "
            target="_blank"
          >
            <i class="material-icons">vpn_lock</i>
            <span>Permaweb</span>
          </a>
        </span>
      </ng-container>

      <m-activity__menu
        (deleted)="delete()"
        *ngIf="service.isLoggedIn$ | async"
      ></m-activity__menu>
    </ng-container>
  </m-activity__ownerBlock>
  <m-activity__content
    *ngIf="service.shouldShowContent$ | async"
    [showPaywall]="service.shouldShowPaywall$ | async"
    [showPaywallBadge]="service.shouldShowPaywallBadge$ | async"
  ></m-activity__content>
  <ng-container *mIfFeature="'!paywall-2020'">
    <m-activity__paywall
      *ngIf="service.shouldShowPaywall$ | async"
    ></m-activity__paywall
  ></ng-container>
  <m-activity__nsfwConsent *ngIf="service.shouldShowNsfwConsent$ | async">
  </m-activity__nsfwConsent>

  <m-activity__toolbar
    *ngIf="service.displayOptions.showToolbar"
  ></m-activity__toolbar>

  <m-activity__minimalMetrics
    *ngIf="service.displayOptions.minimalMode"
  ></m-activity__minimalMetrics>

  <ng-container *mIfBrowser>
    <m-comments__entityOutlet
      *ngIf="service.displayOptions.showComments"
      [entity]="service.entity$ | async"
      [canDelete]="canDelete$ | async"
      [showOnlyPoster]="service.displayOptions.showOnlyCommentsInput"
      [fixedHeight]="service.displayOptions.fixedHeight"
    >
    </m-comments__entityOutlet>
  </ng-container>
</ng-container>
