<h3 i18n="@@M_SHARE__HEADER">Share this post</h3>
<div class="m-share__copyableLinkContainer">
  <div
    class="m-share__copyableLink m-border"
    [class.focused]="shareUrlFocused"
    (click)="applyFocus(shareUrlEl)"
  >
    <input
      class="m-share__copyableLinkText"
      [ngClass]="{ 'recentlyCopied': shareUrlRecentlyCopied, 'm-share__copyableLinkText--flashing': flashing }"
      readonly
      tabindex="-1"
      (focus)="shareUrlFocused"
      (focusout)="shareUrlFocused = false"
      value="{{shareUrl}}"
      #shareUrlEl
    />
    <div
      (click)="copyToClipboard(shareUrlEl)"
      class="m-share__copyableLinkButton"
    >
      <div *ngIf="!shareUrlRecentlyCopied" i18n="@@M_SHARE__LINK_COPY_ACTION">
        Copy
      </div>
      <div *ngIf="shareUrlRecentlyCopied" i18n="@@M_SHARE__LINK_COPY_STATE">
        Copied
      </div>
    </div>
  </div>
</div>

<div
  class="m-share__referrerParamCheckboxContainer"
  *ngIf="session.isLoggedIn()"
>
  <input
    type="checkbox"
    checked
    id="referrer-param"
    name="referrer-param"
    (click)="toggleReferrerParam()"
  />
  <label for="referrer-param">
    <span i18n="@@M_SHARE__REFERRER_PARAM_CHECKBOX_LABEL">
      Include referral code
    </span>
  </label>
  <m-tooltip [anchor]="left" icon="help">
    <ng-container i18n="@@M_SHARE__REFERRAL_CODE_EXPLANATION">
      Use your referral code to earn tokens for referring new users to Minds.
      Learn more at the
      <a [routerLink]="['/settings/other/referrals']" target="_blank"
        >Referrals Console</a
      >
    </ng-container>
    <i class="material-icons m-share__newWindowIcon">open_in_new</i>
  </m-tooltip>
</div>

<div class="m-share__buttonsContainer">
  <div class="m-share__buttons">
    <button
      i18n-title="@@M_SHARE__BUTTON_TWITTER"
      title="Twitter"
      class="m-share__button m-share__button--twitter"
      (click)="openTwitter()"
    >
      <img [src]="cdnAssetsUrl + 'assets/icons/twitter.svg'" />
    </button>

    <button
      i18n-title="@@M_SHARE__BUTTON_FACEBOOK"
      title="Facebook"
      class="m-share__button m-share__button--facebook"
      (click)="openFacebook()"
    >
      <img [src]="cdnAssetsUrl + 'assets/icons/facebook.svg'" />
    </button>

    <button
      i18n-title="@@M_SHARE__BUTTON_MESSENGER"
      title="Messenger"
      class="m-share__button m-share__button--messenger"
      *ngIf="isMobileOrTablet()"
      (click)="openMessenger()"
    >
      <img [src]="cdnAssetsUrl + 'assets/icons/messenger.svg'" />
    </button>

    <button
      i18n-title="@@M_SHARE__BUTTON_Whatsapp"
      title="Whatsapp"
      class="m-share__button m-share__button--whatsapp"
      *ngIf="isMobileOrTablet()"
      (click)="openWhatsapp()"
    >
      <img [src]="cdnAssetsUrl + 'assets/icons/whatsapp.svg'" />
    </button>

    <button
      i18n-title="@@M_SHARE__BUTTON_SMS"
      title="SMS"
      class="m-share__button m-share__button--sms"
      *ngIf="isMobile()"
      (click)="openSMS()"
    >
      <img [src]="cdnAssetsUrl + 'assets/icons/sms.svg'" />
    </button>

    <button
      i18n-title="@@M_SHARE__BUTTON_EMAIL"
      title="Email"
      class="m-share__button m-share__button--email"
      (click)="openEmail()"
    >
      <img [src]="cdnAssetsUrl + 'assets/icons/email.svg'" />
    </button>
  </div>
</div>
