<div class="m-issues__report">
  <div class="m-issuesReport__container">
    <h2>Report an issue</h2>
    <p>
      Please before reporting an issue verify that it has not already been
      reported
      <a href="https://gitlab.com/minds/front/issues" target="_blank">here</a>
    </p>
    <m-dynamic-form [fields]="fields" #reportform></m-dynamic-form>
    <m-shadowboxSubmitButton
      (click)="submit(reportform)"
      [disabled]="submiting"
    >
      Submit
    </m-shadowboxSubmitButton>
  </div>
</div>
